body {
	font: 12px arial, sans-serif;
	margin: 0;
	padding: 0;
}
div {
	margin: 0px;
}

header {
    font-size: 24px;
    padding: 3px 5px;
    text-align: center;
    margin-bottom: 5px;
	color: #efefef;
	background: #555555;
}

.pointer:hover {
	cursor: pointer;
	background-color: #333333;
	color: #ffffff;
}