.battle-log {
    font-size: 1.2em;
    padding: .2em;
    border-top: 1px solid #efefef;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &:first-child {
        border-top: 0;
    }

    &__item {
        margin-top: .2em;

        &:last-child {
            margin-bottom: .2em;
        }

        a, a:hover, a:visited {
            color: yellowgreen;
        }
    }

    &__damage {
        font-weight: 700;
        color: aqua;
    }
}