@import 'src/shared/scss/_variables';

body, html {
	font: 10px arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

#app {
	padding: 0;
	color: $light_color;
	box-sizing: border-box;
	overflow: hidden;
  
	&, .stream-defender__app {
		height: 100%;
		width: 100%;
		position: relative;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-font-smoothing: antialiased;
	}
}

button {
	border-radius: 1px;
    background: white;
    border: none;
    padding: .3em.5em;
    margin: .2em;
    font-size: 1em;
}

button:hover {
	cursor: pointer;
}

.stream-defender__app {
	display: flex;
	justify-content: center;

	.stream-defender__castle-canvas{
		bottom: 0;
		left: 0;
		position: absolute;
		opacity: 0;
		transition: opacity 400ms linear;
	}
}

.stream-defender__app--hovered.stream-defender__app--event {
	.stream-defender__castle-canvas{
		opacity: 1;
	}
}

.video_overlay {
	margin: 100px 150px 80px 150px;
}
