@import url(http://fonts.googleapis.com/css?family=Abel);
* {
  margin: 0;
  padding: 0; }

iframe {
  border: 0; }

body {
  overflow: hidden;
  font-size: 10px;
  font-family: helvetica, arial, sans-serif;
  background: #000000; }
  body:-webkit-full-screen {
    width: 100%;
    height: 100%; }

.mosaic {
  width: 100%;
  height: 100%;
  position: relative; }

.playerWrapper {
  transition: top 1s, left 1s, height 1s, width 1s; }
  .playerWrapper .click-catch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .playerWrapper video {
    height: 100%;
    width: 100%; }
  .playerWrapper .meta {
    font-family: "Abel", sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    color: #FFF;
    font-size: 20px;
    padding: 5px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: flex-end;
    -webkit-align-items: flex-end; }
    .playerWrapper .meta .info {
      flex: 1 0 auto;
      -webkit-flex: 1 0 auto; }
      .playerWrapper .meta .info .channel-name {
        white-space: nowrap;
        display: inline-block; }
      .playerWrapper .meta .info .playing {
        margin: 0 5px; }
      .playerWrapper .meta .info .game {
        margin-left: 5px;
        white-space: nowrap;
        display: inline-block; }
    .playerWrapper .meta .viewerCount {
      flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      white-space: nowrap; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9001; }

.logo {
  position: relative;
  background: url("/static/GlitchIcon_white.png");
  top: 200px;
  width: 350px;
  height: 350px;
  margin: auto; }

.player {
  position: absolute;
  background: #000000;
  transition: height 1s, width 1s, top 1s, left 1s; }
  .player .video {
    height: 100%;
    width: 100%; }
  .player .previewImage {
    height: 100%;
    width: 100%; }

.mosaic-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in; }
  .mosaic-enter.mosaic-enter-active {
    opacity: 1; }

.mosaic-leave {
  opacity: 1;
  transition: opacity 1s ease-out; }
  .mosaic-leave.mosaic-leave-active {
    opacity: 0.01; }

.svg-glyph_live {
  fill: red; }

