.combat {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;

    &__castle-canvas, &__trebuchet-canvas {
        position: absolute;
        bottom: 0;
    }

    &__castle-canvas{
        left: 0;
    }

    &__trebuchet-canvas {
        right: 0;
    }
}

.stream-defender__app--hovered.stream-defender__app--event {
	.combat{
		opacity: 1;
	}
}