<div class="content-section flex flex--nowrap">
  {{#sidebar-nav}}
    {{#each model as |managedProduct|}}
      {{#link-to "product.commerce.managed-product.distribution" managedProduct.id class="sidebar-nav__item sidebar-nav__sub"}}
        Distribution & Pricing
      {{/link-to}}
      {{#link-to "product.commerce.managed-product.details" managedProduct.id class="sidebar-nav__item sidebar-nav__sub"}}
        Game Details
      {{/link-to}}
      {{#link-to "product.commerce.managed-product.listing" managedProduct.id class="sidebar-nav__item sidebar-nav__sub"}}
        Listings
      {{/link-to}}
    {{/each}}
    {{link-to "In-Game Content" "product.commerce.igc" class="sidebar-nav__item"}}
  {{/sidebar-nav}}
  <div class="content-detail flex__item flex__item--grow">
    {{outlet}}
  </div>
</div>
