<div class="content-section flex flex--nowrap">
  {{#sidebar-nav}}
    {{#each model as |extension|}}
      {{#link-to 'product.extensions.extension' extension.id class='sidebar-nav__item'}}
        {{extension.title}}
      {{/link-to}}
    {{/each}}
    {{#link-to 'product.extensions.extension-items' class='sidebar-nav__item'}}
      Extension items
    {{/link-to}}
  {{/sidebar-nav}}
  <div class="content-detail flex__item flex__item--grow">
    {{outlet}}
  </div>
</div>