@import 'src/shared/scss/_variables';

.character-editor{
  position: absolute;
  right: -44em;
  transition: right 600ms cubic-bezier(.53,1.39,.75,.96);
  will-change: right;
  top: 50%;
  margin-top: -20em;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;

  &__battle-logs {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }

  &__character-products {
    padding: .5em;
  }

  .stream-defender__app--hovered & {
    right: -40em;
  }

  .stream-defender__app--hovered &__expanded {
    right: -10em;
  }

  &__expand, &__container {
    background-color: rgba(50,50,50,0.85);
  }

  &__expand {
    width: 4em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &:hover {
      cursor: pointer;
    }

    &-icon {
      font-weight: bold;
      font-size: 3em;
    }
  }

  &__container {
    width: 40em;
    height: 40em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
    padding-right: 10em;

    > * {
      font-size: 1.4em;
      flex-grow: 1;
    }
  }

  &__character-canvas {
    background: rgba(250, 250, 250, 0.2);
  }

  &__character-selector {
    display: flex;
  }

  &__character-selector-classes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
  }

  &__character-stats {
    display: flex;
    justify-content: space-between;
    padding: .3em .5em;
    align-items: center;
    box-sizing: border-box;

    span {
      font-weight: bold;
      font-size: 1.3em;
      margin: 0 .2em;
    }

    button {
      margin-left: 1em;
    }
  }
}
