$header-font: 'Korolev', 'Helvetica Neue', Helvetica, sans-serif

// GENERAL
html
  height: 100%

body
  height: 100%
  background: $white
  font-kerning: normal

  > .ember-view
    height: 100%

p
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  font-size: 1.6rem
  line-height: guv(2)
  color: $hinted-grey-7

  a
    text-decoration: underline

a
  &:hover
    cursor: pointer

.form__input[type='number'], .date-time-picker
  background-color: white;
  color: #433f4a;
  box-shadow: inset 0 0 0 1px #dad8de;
  border: none;
  border-radius: 0;
  display: block;
  font-size: 1.2rem;
  font-family: inherit;
  line-height: 2rem;
  outline: 0;
  padding: 0.5rem 1rem;
  position: relative;
  resize: both;
  transition: all 0.25s;
  width: 100%;

.form__group--error
  .form__input[type='number'], .date-time-picker
    box-shadow: #fc3636 0 0 0 1px inset, #fc3636 0 0 6px -2px;

.right
  text-align: right

.flex--right
  justify-content: flex-end

.app-main
  position: absolute
  overflow: hidden
  top: 5rem
  bottom: 0
  left: 0
  right: 0

// NAV
.top-nav
  position: fixed
  height: 5rem
  background-color: $twitch-purple-5
  z-index: 1000

.arrow-right
  width: 0
  height: 0
  margin-right: 3rem
  border-top: 2.5rem solid transparent
  border-bottom: 2.5rem solid transparent
  border-left: 2.5rem solid $twitch-purple-6

.top-nav__item
  padding: 1.5rem
  font-size: 1.4rem
  font-weight: normal

  a
    position: relative
    padding-bottom: 0.5rem
    color: $hinted-grey-13

    &:hover
      text-decoration: none
      color: $white

    &:after
      position: absolute
      bottom: 0
      left: 0
      right: 0
      margin: 3px auto auto auto
      width: 0%
      content: '.'
      color: transparent
      background: $white
      height: 2px

    &.active
      color: $twitch-purple-10

.top-nav__logo
  align-self: stretch
  padding: 0 1rem
  font-size: 1.6rem
  font-weight: bold
  fill: $white
  color: $white
  background-color: $twitch-purple-6

  &:hover
    color: $white
    text-decoration: none

.top-nav__tag
  color: $white
  padding: guv(1) 0 0 guv(1)
  font-size: 14px

.top-nav__user-card
  flex: 1 1 auto
  justify-content: flex-end

  &:after
    content: ''
    display: inline-block
    width: 0
    height: 0
    margin: 0 10px
    border: 6px solid transparent
    border-top-color: $white
    border-bottom-width: 0
    transition: all .25s

  &.toggled:after
    transform: rotate(180deg)

.top-nav__avatar
    width: 3rem
    height: 3rem
    margin: 0 1rem

.top-nav__user-info
  max-width: 150px

.top-nav__username
  line-height: 1.2
  font-size: 1.4rem
  color: $white

.top-nav__user-status
  line-height: 1.2
  font-size: 1.1rem
  color: $hinted-grey-10

.top-nav-drawer
  position: absolute
  width: 100%
  top: 100%
  right: 0
  z-index: -1
  background-color: $twitch-purple-4
  transition: transform 0.25s
  transform: translate3d(0, -100%, 0)

  &.toggled
    transform: translate3d(0, 0, 0)

.top-nav-drawer__anchor
  position: relative
  width: 20rem
  margin-left: auto
  padding-right: 1rem
  align-self: stretch
  cursor: pointer
  background-color: $twitch-purple-5

.top-nav-drawer__item
  padding: 0.5rem 1rem
  color: $white

  a
    color: $hinted-grey-12
    transition: color 0.25s

.top-nav-drawer__label
  color: $hinted-grey-12

// CONTENT SECTIONS
.content
  position: relative
  height: 100%

.content-header
  padding: 2rem

  .button
    margin-left: 2rem

.content-section
  height: 95%

.content-detail
  overflow: scroll
  margin: 0 2rem
  padding-top: 2rem
  border-top: 1px solid $hinted-grey-13

  .tower
    min-height: 0px

// LOGIN
.login--container
  width: 35%
  margin: 6rem auto
  border: 1px solid $hinted-grey-13
  overflow: hidden

  h2
    margin: 0
    padding: 3rem
    font-weight: normal

  p
    color: $hinted-grey-8

  .button
    margin-top: 5rem
    margin-bottom: 3rem

  .login--details
    padding: 2rem 3rem
    background-color: $hinted-grey-15
    font-size: 14px
    text-align: center

    a
      text-decoration: none

// SIDEBAR NAV
.sidebar-nav
  width: 15%
  min-width: 15%
  margin-right: 2rem
  padding: 0
  overflow: scroll

.sidebar-nav__item
  display: block
  padding: 2rem 1rem 2rem 3rem
  color: $black
  background: $hinted-grey-14
  border-width: 1px 1px 0 0
  border-style: solid
  border-color: $hinted-grey-13
  border-right: 5px solid $hinted-grey-14

  &:last-child
    height: 100%

  &.sidebar-nav__sub
    text-align: right

  &:not(:last-child):hover
    cursor: pointer
    background: $hinted-grey-15
    text-decoration: none

  &.selected
    background: $white
    border-right: 5px solid $twitch-purple-10

  &.active
    background: $white
    border-right: 5px solid $twitch-purple-10

  &:not(:first-child)
    margin-top: -1px

  &:last-child
    height: 100%

// GAME HEADER
.game-header

  .game-header__name
    margin: 2rem 0 0 2rem

  .game-header__nav

    .game-header__nav-item
      position: relative
      color: $twitch-purple-7
      font-size: 1.5rem
      margin-right: 2rem

      a:after
        position: absolute
        bottom: 0
        left: 0
        right: 0
        margin: 3px auto auto auto
        width: 0
        content: '.'
        height: 1px
        color: transparent
        background: $twitch-purple-7

      a:hover
        padding-bottom: 0.6rem
        color: $twitch-purple-7
        text-decoration: none

      a:hover:after
        width: 100%
        background: $twitch-purple-11

      a.active
        padding-bottom: 0.6rem
        color: $twitch-purple-7

      a.active:after
        position: absolute
        bottom: 0
        left: 0
        right: 0
        margin: 3px auto auto auto
        width: 100%
        content: '.'
        height: 1px
        color: transparent
        background: $twitch-purple-7


// MAIN GAMES PAGE
.game-detail__brick
  margin: 2rem 0
  padding: 1.5rem

  .brick-title
    margin-bottom: 1rem
    font-weight: bold

  .brick-content
    height: 80px
    line-height: 80px
    margin-bottom: 1rem
    border: 1px solid $hinted-grey-13
    background: $hinted-grey-14
    color: $white
    font-weight: bold
    text-align: center

// COMMERCE/DISTRIBUTION
.commerce-header
  margin-bottom: 3rem

  .button
    margin-left: 2rem

  .commerce-header__count
    color: $hinted-grey-9

  .commerce-header--right
    justify-content: flex-end

  .form__input
    -webkit-appearance: none
    -moz-appearence: none

  .locale-select
    margin-left: 2rem

.commerce__doc-header
  .button
    margin-left: 2rem

.header-brick
  margin: 2rem 0

  .header-brick__item
    margin: 1rem 2rem

    .pill
      margin-right: 1rem
      font-size: 2rem

.commerce-section
  min-width: 500px
  flex-basis: auto
  margin-bottom: 5rem

  .listing

    .flex
      justify-content: space-between

    .form__group
      width: 80%

  .brick
    h4
      margin-bottom: 1rem

    .form
      margin: 2rem auto 0 auto
      width: 50%

    .button__enable-commerce
      display: block
      margin: 2rem auto 0 auto

  .commerce-section__header
    height: 3.5rem
    margin-bottom: 2rem
    padding-bottom: 0.5rem
    border-bottom: 1px solid $hinted-grey-13
    justify-content: space-between

  .form__group
    margin-bottom: 2rem
    min-width: 70%
    max-width: 80%

    .checkbox__label
      font-weight: normal
      padding-right: 1.5rem

  .form__label
    display: block
    margin-bottom: 1rem

  .form__input
    -webkit-appearance: none
    -moz-appearence: none

    &.inline
      display: inline

    &.description
      width: 100%
      height: 10rem

    &.price
      width: 10%
      min-width: 10%
      margin-right: 0.5rem
      text-align: right

    &.pika-input
      margin: 0

  .country-list
    padding: 0 2.5rem

    > span
      display: inline
      margin-left: 0.5rem

  .scroll-list
    height: 40rem
    border: 1px solid $hinted-grey-12
    overflow-y: scroll

    .scroll-list__item
      min-height: 4rem
      border-bottom: 1px solid $hinted-grey-14
      display: flex
      justify-content: center
      padding: 1rem

      &[type=text]
        width: 100%
        margin: 0
        box-shadow: none

      &.checkbox
        padding-left: 1.5rem

      &.exception
        color: $black
        background-color: #C2EBD6
        font-weight: bold

      .price__container
        height: 6rem
        color: $hinted-grey-8

        &.exception
          color: $black
          background-color: #C2EBD6
          font-weight: bold

        &.invalid
          background-color: #FFB8B6

        .price__country
          margin: 0 3rem

      .supported-language
        padding: 1rem

        .language-checkboxes
          justify-content: center

        .checkbox
          padding-left: 2rem

        .button
          margin-left: auto

      .product-feature
        padding: 1rem

        .button
          margin-left: auto

// COMMERCE/IGC
.filter-section
  padding-bottom: 1rem
  margin-bottom: 2rem
  border-bottom: 1px solid $hinted-grey-13

  .search-box
    width: 25%
    margin-right: 4rem

    input
      line-height: 2.4rem

.igc-image
  width: 300px
  margin-right: 2rem

.igc-image__name
  font-weight: bold
  margin-bottom: 1rem

.igc-list
  .igc-list__item
    height: 6.5rem
    border-bottom: 1px solid $hinted-grey-14

    .image-thumbnail
      margin-right: 1rem

    .status
      color: $hinted-grey-8

    .live
      color: #32CD32

    div:first-child
      padding-left: 0

    div:last-child
      padding-right: 0

    button
      margin-right: 0.5rem
      border-radius: 0.5rem

  .igc-list__header
    height: 2.5rem
    color: $hinted-grey-8
