.result-announcement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: -10em 0;

    &__header, &__subtitle {
        font-size: 4em;
        font-family: cursive;
        text-shadow: -1px -1px 0 #000,  
                     1px -1px 0 #000,
                     -1px 1px 0 #000,
                     1px 1px 0 #000;
        color: #efefef;
        font-weight: 700;
    }
}