<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title  }} : {{ site.description }}">
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600" rel="stylesheet">

    <title>Pachinko Docs - {{page.title}}</title>
  </head>

  <body>    

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">      

        <nav id="main_nav" class="nav">
          <div class="nav-scroll">
            <div id="nav-header">
              <a href="{{site.baseurl}}/" id="nav-header-title" alt="Twilight on github">
                <img id="nav-header-logo" src="{{site.baseurl}}/assets/images/ranger-kenobi-large.png" />
                <span class="nav-header-caption">Pachinko Docs</span>
              </a>
            </div>
            <div id="search">
              <input id="search-input" placeholder="Search" type="search">
              <ul class="search-results"></ul>
            </div>
            
          {% for item in site.data.nav.toc %}
            {% if item.url %}
              <ul class="subfolder-items expanded">
                <li>
                  <a href="{{ item.url }}" alt="{{ item.title }}">
                    {{ item.title }}
                  </a>
                </li>
              </ul>
            {% else %}
              <button class="heading-level-1">{{ item.title }}</button>
              <ul class="subfolder-items collapsed">
                {% for entry in item.subfolderitems %}
                    {% if entry.title %}
                      <button class="heading-level-2">{{ entry.title }}</button>
                      <ul>
                        {% for subentry in entry.subfolderitems %}
                        <li>
                          <a href="{{ subentry.url | absolute_url }}" alt="{{ entry.page }}">
                            {{ subentry.page }}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      {% if entry.page == page.title %}
                      <li class="selected"><a href="{{ entry.url | absolute_url }}" alt="{{ entry.page }}">{{ entry.page }}</a></li>
                      {% else %}
                      <li><a href="{{ entry.url | absolute_url }}" alt="{{ entry.page }}">{{ entry.page }}</a></li>
                      {% endif %}
                    {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
       <section class="content">
         <div class="header-container">
            <h1>{{ page.title }}</h1>

         </div>
         {{ content | replace: 'disabled="disabled"', 'enabled="enabled"'  }}
        </section>
        <section id="page-nav">
          <button class="edit-page-link" title="Edit this page on GitHub" onclick="window.open('https://git.xarth.tv/commerce/pachinko-docs/tree/master/{{ page.path }}')">
            <svg class="tw-svg__asset tw-svg__asset--edit tw-svg__asset--inherit" width="16px" height="16px" version="1.1" viewBox="0 0 16 16" x="0px" y="0px"><path clip-rule="evenodd" d="M6.414,12.414L3.586,9.586l8-8l2.828,2.828L6.414,12.414z M4.829,14H2l0,0v-2.828l0.586-0.586l2.828,2.828L4.829,14z" fill-rule="evenodd"></path></svg>
            Edit on GitHub
          </button>
        </section>
      </section>
    </div>
    {% if site.google_analytics and jekyll.environment == 'production' %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <!-- We use anchor.min.js to get anchor tags for headings in pages -->
    <script src ="{{site.baseurl}}/javascripts/anchor.min.js" type="text/javascript"></script>
    <script src ="{{site.baseurl}}/javascripts/in-page-contents.js" type="text/javascript"></script>
    <script src ="{{site.baseurl}}/javascripts/lunr.min.js" type="text/javascript"></script>
    <script src ="{{site.baseurl}}/javascripts/lunr-feed.js" type="text/javascript"></script>
    <script src ="{{site.baseurl}}/javascripts/clipboard.min.js"></script>
    <script src ="{{site.baseurl}}/javascripts/snippets.js" type="text/javascript"></script>
    <script src ="{{site.baseurl}}/javascripts/tooltips.js" type="text/javascript"></script>
    <script src ="{{site.baseurl}}/javascripts/gumshoe.min.js" type="text/javascript"></script>
    <script src ="{{site.baseurl}}/javascripts/toc-behavior.js" type="text/javascript"></script>
  </body>
</html>