<!DOCTYPE html>
<html ng-app="searchApp">
<head>
  <title>Twitch Internal Search (Search)</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <script src="/js/angular.min.js"></script>
  <script src="/js/ui-bootstrap-tpls-0.13.4.min.js"></script>
  <script src="/js/search.js"></script>
  <style type="text/css">
  .input-group-addon.primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  .navbar-header .form-group {
    padding-top: 10px;
  }

  .result-count {
    border-bottom: solid 1px #337ab7;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .result {
    margin-bottom: 30px;
  }

  .exerpt {

  }
  .copyableurl {
    color: #5CB85C;
  }
  </style>
</head>

<body ng-controller="SearchCtrl" >

  <form ng-submit="search()">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <div class="form-group">
            <div class="input-group">
                <input type="text" ng-change="search()" class="form-control" placeholder="What you NEED?" ng-model="keywords"/>
                <span class="input-group-addon primary">
                  <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>      
        </div>
    </nav>
  </form>

  <div class="container">
    <div class="result-count">
      Total hits: {{count}}
    </div>
    <div ng-repeat="result in results" class="result">
      <img src="/images/types/{{result._source.type}}.png" />
      <a href="{{result._source.url}}" target="_blank">{{result._source.title}}</a><br />
      <div class="excerpt">
        <pre>
        {{result.highlight.body.join(" ")}}
        </pre>
      </div>
      <div class="copyableurl">
        {{result._source.url}}
      </div>
    </div>
   </div>
  </div>

  <div class="container">
    <uib-pager total-items="count" ng-model="page"></uib-pager>
    <pagination total-items="count" ng-model="page" ng-change="search()" class="pagination-sm" items-per-page="itemsPerPage" max-size="10" boundary-links="true" rotate="false"></pagination>
  </div>
</body>

</html> 