{{!-- Added by ember-cli-head addon --}}

<title>{{if model.title model.title 'Twitch'}}</title>
<meta content={{model.googleSiteVerification}} name="google-site-verification">
<link href={{model.googlePublisherTag}} rel="publisher">

{{#if model.canonicalUrl}}
  <link href={{model.canonicalUrl}} rel="canonical">
{{/if}}

{{#if model.alternateLinks}}
  {{#each model.alternateLinks as |alternateLink|}}
    <link href={{alternateLink}} rel="alternate">
  {{/each}}
{{/if}}
