.data-display {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}

.data-display > * {
    word-break: break-all;
    word-wrap: break-word;
    padding: 3px;
}

.data-display > *:first-child {
    flex-shrink: 0;
}