<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<configuration>

    <property>
        <name>zeppelin.cluster.addr</name>
        <value></value>
        <description>Server cluster address, eg. 127.0.0.1:6000,127.0.0.2:6000,127.0.0.3:6000</description>
    </property>

    <property>
        <name>zeppelin.server.addr</name>
        <value>0.0.0.0</value>
        <description>Server binding address</description>
    </property>

    <property>
        <name>zeppelin.server.port</name>
        <value>{{ zeppelin_port }}</value>
        <description>Server port.</description>
    </property>

    <property>
        <name>zeppelin.server.ssl.port</name>
        <value>8443</value>
        <description>Server ssl port. (used when ssl property is set to true)</description>
    </property>

    <property>
        <name>zeppelin.server.context.path</name>
        <value>/</value>
        <description>Context Path of the Web Application</description>
    </property>

    <property>
        <name>zeppelin.war.tempdir</name>
        <value>webapps</value>
        <description>Location of jetty temporary directory</description>
    </property>

    <property>
        <name>zeppelin.notebook.dir</name>
        <value>notebook</value>
        <description>path or URI for notebook persist</description>
    </property>

    <property>
        <name>zeppelin.interpreter.include</name>
        <value></value>
        <description>All the inteprreters that you would like to include. You can only specify either 'zeppelin.interpreter.include' or 'zeppelin.interpreter.exclude'. Specifying them together is not allowed.</description>
    </property>

    <property>
        <name>zeppelin.interpreter.exclude</name>
        <value></value>
        <description>All the inteprreters that you would like to exclude. You can only specify either 'zeppelin.interpreter.include' or 'zeppelin.interpreter.exclude'. Specifying them together is not allowed.</description>
    </property>

    <property>
        <name>zeppelin.notebook.homescreen</name>
        <value></value>
        <description>id of notebook to be displayed in homescreen. ex) 2A94M5J1Z Empty value displays default home screen</description>
    </property>

    <property>
        <name>zeppelin.notebook.homescreen.hide</name>
        <value>false</value>
        <description>hide homescreen notebook from list when this value set to true</description>
    </property>

    <property>
        <name>zeppelin.notebook.collaborative.mode.enable</name>
        <value>true</value>
        <description>Enable collaborative mode</description>
    </property>

    <!-- Google Cloud Storage notebook storage -->
    <!--
    <property>
      <name>zeppelin.notebook.gcs.dir</name>
      <value></value>
      <description>
        A GCS path in the form gs://bucketname/path/to/dir.
        Notes are stored at {zeppelin.notebook.gcs.dir}/{notebook-id}/note.json
     </description>
    </property>

    <property>
      <name>zeppelin.notebook.gcs.credentialsJsonFilePath</name>
      <value>path/to/key.json</value>
      <description>
        Path to GCS credential key file for authentication with Google Storage.
     </description>
    </property>


    <property>
      <name>zeppelin.notebook.storage</name>
      <value>org.apache.zeppelin.notebook.repo.GCSNotebookRepo</value>
      <description>notebook persistence layer implementation</description>
    </property>
    -->

    <!-- Amazon S3 notebook storage -->
    <!-- Creates the following directory structure: s3://{bucket}/{username}/{notebook-id}/note.json -->
    <!--
    <property>
      <name>zeppelin.notebook.s3.user</name>
      <value>user</value>
      <description>user name for s3 folder structure</description>
    </property>

    <property>
      <name>zeppelin.notebook.s3.bucket</name>
      <value>zeppelin</value>
      <description>bucket name for notebook storage</description>
    </property>

    <property>
      <name>zeppelin.notebook.s3.endpoint</name>
      <value>s3.amazonaws.com</value>
      <description>endpoint for s3 bucket</description>
    </property>

    <property>
      <name>zeppelin.notebook.s3.timeout</name>
      <value>120000</value>
      <description>s3 bucket endpoint request timeout in msec.</description>
    </property>

    <property>
      <name>zeppelin.notebook.storage</name>
      <value>org.apache.zeppelin.notebook.repo.S3NotebookRepo</value>
      <description>notebook persistence layer implementation</description>
    </property>

    -->

    <!-- Additionally, encryption is supported for notebook data stored in S3 -->
    <!-- Use the AWS KMS to encrypt data -->
    <!-- If used, the EC2 role assigned to the EMR cluster must have rights to use the given key -->
    <!-- See https://aws.amazon.com/kms/ and http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html -->
    <!--
    <property>
      <name>zeppelin.notebook.s3.kmsKeyID</name>
      <value>AWS-KMS-Key-UUID</value>
      <description>AWS KMS key ID used to encrypt notebook data in S3</description>
    </property>
    -->

    <!-- provide region of your KMS key -->
    <!-- See http://docs.aws.amazon.com/general/latest/gr/rande.html#kms_region for region codes names -->
    <!--
    <property>
      <name>zeppelin.notebook.s3.kmsKeyRegion</name>
      <value>us-east-1</value>
      <description>AWS KMS key region in your AWS account</description>
    </property>
    -->

    <!-- Use a custom encryption materials provider to encrypt data -->
    <!-- No configuration is given to the provider, so you must use system properties or another means to configure -->
    <!-- See https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/model/EncryptionMaterialsProvider.html -->
    <!--
    <property>
      <name>zeppelin.notebook.s3.encryptionMaterialsProvider</name>
      <value>provider implementation class name</value>
      <description>Custom encryption materials provider used to encrypt notebook data in S3</description>
    </property>
    -->

    <!-- Server-side encryption enabled for notebooks -->
    <!--
    <property>
      <name>zeppelin.notebook.s3.sse</name>
      <value>true</value>
      <description>Server-side encryption enabled for notebooks</description>
    </property>
    -->

    <!-- S3 Object Permissions (Canned ACL) for notebooks -->
    <!--
    <property>
      <name>zeppelin.notebook.s3.cannedAcl</name>
      <value>BucketOwnerFullControl</value>
      <description>Saves notebooks in S3 with the given Canned Access Control List.</description>
    </property>
    -->

    <!-- Optional override to control which signature algorithm should be used to sign AWS requests -->
    <!-- Set this property to "S3SignerType" if your AWS S3 compatible APIs support only AWS Signature Version 2 such as Ceph. -->
    <!--
    <property>
      <name>zeppelin.notebook.s3.signerOverride</name>
      <value>S3SignerType</value>
      <description>optional override to control which signature algorithm should be used to sign AWS requests</description>
    </property>
    -->

    <!-- Aliyun OSS notebook storage -->
    <!-- Creates the following directory structure: oss://{bucket}/{notebook_dir}/note_path -->
    <!--

    <property>
      <name>zeppelin.notebook.oss.bucket</name>
      <value>zeppelin</value>
      <description>bucket name for notebook storage</description>
    </property>

    <property>
      <name>zeppelin.notebook.oss.endpoint</name>
      <value>http://oss-cn-hangzhou.aliyuncs.com</value>
      <description>endpoint for oss bucket</description>
    </property>

    <property>
      <name>zeppelin.notebook.oss.accesskeyid</name>
      <value></value>
      <description>Access key id for your OSS account</description>
    </property>

    <property>
      <name>zeppelin.notebook.oss.accesskeysecret</name>
      <value></value>
      <description>Access key secret for your OSS account</description>
    </property>

    <property>
      <name>zeppelin.notebook.storage</name>
      <value>org.apache.zeppelin.notebook.repo.OSSNotebookRepo</value>
      <description>notebook persistence layer implementation</description>
    </property>

    -->

    <!-- If using Azure for storage use the following settings -->
    <!--
    <property>
      <name>zeppelin.notebook.azure.connectionString</name>
      <value>DefaultEndpointsProtocol=https;AccountName=<accountName>;AccountKey=<accountKey></value>
      <description>Azure account credentials</description>
    </property>

    <property>
      <name>zeppelin.notebook.azure.share</name>
      <value>zeppelin</value>
      <description>share name for notebook storage</description>
    </property>

    <property>
      <name>zeppelin.notebook.azure.user</name>
      <value>user</value>
      <description>optional user name for Azure folder structure</description>
    </property>

    <property>
      <name>zeppelin.notebook.storage</name>
      <value>org.apache.zeppelin.notebook.repo.AzureNotebookRepo</value>
      <description>notebook persistence layer implementation</description>
    </property>
    -->

    <!-- Notebook storage layer using local file system
    <property>
      <name>zeppelin.notebook.storage</name>
      <value>org.apache.zeppelin.notebook.repo.VFSNotebookRepo</value>
      <description>local notebook persistence layer implementation</description>
    </property>
    -->

    <!-- Notebook storage layer using hadoop compatible file system
    <property>
      <name>zeppelin.notebook.storage</name>
      <value>org.apache.zeppelin.notebook.repo.FileSystemNotebookRepo</value>
      <description>Hadoop compatible file system notebook persistence layer implementation, such as local file system, hdfs, azure wasb, s3 and etc.</description>
    </property>

    <property>
      <name>zeppelin.server.kerberos.keytab</name>
      <value></value>
      <description>keytab for accessing kerberized hdfs</description>
    </property>

    <property>
      <name>zeppelin.server.kerberos.principal</name>
      <value></value>
      <description>principal for accessing kerberized hdfs</description>
    </property>
    -->

    <!-- For connecting your Zeppelin with ZeppelinHub -->
    <!--
    <property>
      <name>zeppelin.notebook.storage</name>
      <value>org.apache.zeppelin.notebook.repo.GitNotebookRepo, org.apache.zeppelin.notebook.repo.zeppelinhub.ZeppelinHubRepo</value>
      <description>two notebook persistence layers (versioned local + ZeppelinHub)</description>
    </property>
    -->

    <!-- MongoDB notebook storage -->
    <!--
    <property>
      <name>zeppelin.notebook.storage</name>
      <value>org.apache.zeppelin.notebook.repo.MongoNotebookRepo</value>
      <description>notebook persistence layer implementation</description>
    </property>

    <property>
      <name>zeppelin.notebook.mongo.uri</name>
      <value>mongodb://localhost</value>
      <description>MongoDB connection URI used to connect to a MongoDB database server</description>
    </property>

    <property>
      <name>zeppelin.notebook.mongo.database</name>
      <value>zeppelin</value>
      <description>database name for notebook storage</description>
    </property>

    <property>
      <name>zeppelin.notebook.mongo.collection</name>
      <value>notes</value>
      <description>collection name for notebook storage</description>
    </property>

    <property>
      <name>zeppelin.notebook.mongo.autoimport</name>
      <value>false</value>
      <description>import local notes into MongoDB automatically on startup, reset to false after import to avoid repeated import</description>
    </property>
    -->

    <property>
        <name>zeppelin.notebook.storage</name>
        <value>org.apache.zeppelin.notebook.repo.GitNotebookRepo</value>
        <description>versioned notebook persistence layer implementation</description>
    </property>

    <property>
        <name>zeppelin.notebook.one.way.sync</name>
        <value>false</value>
        <description>If there are multiple notebook storages, should we treat the first one as the only source of truth?</description>
    </property>

    <property>
        <name>zeppelin.interpreter.dir</name>
        <value>interpreter</value>
        <description>Interpreter implementation base directory</description>
    </property>

    <property>
        <name>zeppelin.interpreter.localRepo</name>
        <value>local-repo</value>
        <description>Local repository for interpreter's additional dependency loading</description>
    </property>

    <property>
        <name>zeppelin.interpreter.dep.mvnRepo</name>
        <value>https://repo1.maven.org/maven2/</value>
        <description>Remote principal repository for interpreter's additional dependency loading</description>
    </property>

    <property>
        <name>zeppelin.dep.localrepo</name>
        <value>local-repo</value>
        <description>Local repository for dependency loader</description>
    </property>

    <property>
        <name>zeppelin.helium.node.installer.url</name>
        <value>https://nodejs.org/dist/</value>
        <description>Remote Node installer url for Helium dependency loader</description>
    </property>

    <property>
        <name>zeppelin.helium.npm.installer.url</name>
        <value>https://registry.npmjs.org/</value>
        <description>Remote Npm installer url for Helium dependency loader</description>
    </property>

    <property>
        <name>zeppelin.helium.yarnpkg.installer.url</name>
        <value>https://github.com/yarnpkg/yarn/releases/download/</value>
        <description>Remote Yarn package installer url for Helium dependency loader</description>
    </property>

    <!--
    <property>
      <name>zeppelin.helium.registry</name>
      <value>helium,https://s3.amazonaws.com/helium-package/helium.json</value>
      <description>Location of external Helium Registry</description>
    </property>
    -->

    <property>
        <name>zeppelin.interpreter.group.default</name>
        <value>spark</value>
        <description></description>
    </property>

    <property>
        <name>zeppelin.interpreter.connect.timeout</name>
        <value>60000</value>
        <description>Interpreter process connect timeout in msec.</description>
    </property>

    <property>
        <name>zeppelin.interpreter.output.limit</name>
        <value>102400</value>
        <description>Output message from interpreter exceeding the limit will be truncated</description>
    </property>

    <property>
        <name>zeppelin.ssl</name>
        <value>false</value>
        <description>Should SSL be used by the servers?</description>
    </property>

    <property>
        <name>zeppelin.ssl.client.auth</name>
        <value>false</value>
        <description>Should client authentication be used for SSL connections?</description>
    </property>

    <property>
        <name>zeppelin.ssl.keystore.path</name>
        <value>keystore</value>
        <description>Path to keystore relative to Zeppelin configuration directory</description>
    </property>

    <property>
        <name>zeppelin.ssl.keystore.type</name>
        <value>JKS</value>
        <description>The format of the given keystore (e.g. JKS or PKCS12)</description>
    </property>

    <property>
        <name>zeppelin.ssl.keystore.password</name>
        <value>change me</value>
        <description>Keystore password. Can be obfuscated by the Jetty Password tool</description>
    </property>

    <!--
    <property>
      <name>zeppelin.ssl.key.manager.password</name>
      <value>change me</value>
      <description>Key Manager password. Defaults to keystore password. Can be obfuscated.</description>
    </property>
    -->

    <property>
        <name>zeppelin.ssl.truststore.path</name>
        <value>truststore</value>
        <description>Path to truststore relative to Zeppelin configuration directory. Defaults to the keystore path</description>
    </property>

    <property>
        <name>zeppelin.ssl.truststore.type</name>
        <value>JKS</value>
        <description>The format of the given truststore (e.g. JKS or PKCS12). Defaults to the same type as the keystore type</description>
    </property>

    <!--
    <property>
      <name>zeppelin.ssl.truststore.password</name>
      <value>change me</value>
      <description>Truststore password. Can be obfuscated by the Jetty Password tool. Defaults to the keystore password</description>
    </property>
    -->

    <!--
    <property>
      <name>zeppelin.ssl.pem.key</name>
      <value></value>
      <description>This directive points to the PEM-encoded private key file for the server.</description>
    </property>
    -->

    <!--
    <property>
      <name>zeppelin.ssl.pem.key.password</name>
      <value></value>
      <description>Password of the PEM-encoded private key.</description>
    </property>
    -->

    <!--
    <property>
      <name>zeppelin.ssl.pem.cert</name>
      <value></value>
      <description>This directive points to a file with certificate data in PEM format.</description>
    </property>
    -->

    <!--
    <property>
      <name>zeppelin.ssl.pem.ca</name>
      <value></value>
      <description>This directive sets the all-in-one file where you can assemble the Certificates of Certification Authorities (CA) whose clients you deal with. These are used for Client Authentication. Such a file is simply the concatenation of the various PEM-encoded Certificate files.</description>
    </property>
    -->

    <property>
        <name>zeppelin.server.allowed.origins</name>
        <value>*</value>
        <description>Allowed sources for REST and WebSocket requests (i.e. http://onehost:8080,http://otherhost.com). If you leave * you are vulnerable to https://issues.apache.org/jira/browse/ZEPPELIN-173</description>
    </property>

    <property>
        <name>zeppelin.username.force.lowercase</name>
        <value>false</value>
        <description>Force convert username case to lower case, useful for Active Directory/LDAP. Default is not to change case</description>
    </property>

    <property>
        <name>zeppelin.notebook.default.owner.username</name>
        <value></value>
        <description>Set owner role by default</description>
    </property>

    <property>
        <name>zeppelin.notebook.public</name>
        <value>true</value>
        <description>Make notebook public by default when created, private otherwise</description>
    </property>

    <property>
        <name>zeppelin.websocket.max.text.message.size</name>
        <value>10240000</value>
        <description>Size in characters of the maximum text message to be received by websocket. Defaults to 10240000</description>
    </property>

    <property>
        <name>zeppelin.server.default.dir.allowed</name>
        <value>false</value>
        <description>Enable directory listings on server.</description>
    </property>

    <property>
        <name>zeppelin.interpreter.yarn.monitor.interval_secs</name>
        <value>10</value>
        <description>Check interval in secs for yarn apps monitors</description>
    </property>

    <!--
    <property>
      <name>zeppelin.interpreter.lifecyclemanager.class</name>
      <value>org.apache.zeppelin.interpreter.lifecycle.TimeoutLifecycleManager</value>
      <description>LifecycleManager class for managing the lifecycle of interpreters, by default interpreter will
      be closed after timeout</description>
    </property>

    <property>
      <name>zeppelin.interpreter.lifecyclemanager.timeout.checkinterval</name>
      <value>60000</value>
      <description>Milliseconds of the interval to checking whether interpreter is time out</description>
    </property>

    <property>
      <name>zeppelin.interpreter.lifecyclemanager.timeout.threshold</name>
      <value>3600000</value>
      <description>Milliseconds of the interpreter timeout threshold, by default it is 1 hour</description>
    </property>
    -->

    <property>
        <name>zeppelin.server.jetty.name</name>
        <value> </value>
        <description>Hardcoding Application Server name to Prevent Fingerprinting</description>
    </property>

    <!--
    <property>
        <name>zeppelin.server.send.jetty.name</name>
        <value>false</value>
        <description>If set to false, will not show the Jetty version to prevent Fingerprinting</description>
    </property>
    -->

    <!--
    <property>
        <name>zeppelin.server.jetty.request.header.size</name>
        <value>8192</value>
        <description>Http Request Header Size Limit (to prevent HTTP 413)</description>
    </property>
    -->

    <!--
    <property>
        <name>zeppelin.server.jetty.thread.pool.max</name>
        <value>400</value>
        <description>Max Thread pool number for QueuedThreadPool in Jetty Server</description>
    </property>
    -->
    <!--
    <property>
        <name>zeppelin.server.jetty.thread.pool.min</name>
        <value>8</value>
        <description>Min Thread pool number for QueuedThreadPool in Jetty Server</description>
    </property>
    -->
    <!--
    <property>
        <name>zeppelin.server.jetty.thread.pool.timeout</name>
        <value>30</value>
        <description>Timeout number for QueuedThreadPool in Jetty Server</description>
    </property>
    -->

    <!--
    <property>
        <name>zeppelin.server.authorization.header.clear</name>
        <value>true</value>
        <description>Authorization header to be cleared if server is running as authcBasic</description>
    </property>
    -->

    <property>
        <name>zeppelin.server.xframe.options</name>
        <value>SAMEORIGIN</value>
        <description>The X-Frame-Options HTTP response header can be used to indicate whether or not a browser should be allowed to render a page in a frame/iframe/object.</description>
    </property>

    <!--
    <property>
      <name>zeppelin.server.strict.transport</name>
      <value>max-age=631138519</value>
      <description>The HTTP Strict-Transport-Security response header is a security feature that lets a web site tell browsers that it should only be communicated with using HTTPS, instead of using HTTP. Enable this when Zeppelin is running on HTTPS. Value is in Seconds, the default value is equivalent to 20 years.</description>
    </property>
    -->

    <property>
        <name>zeppelin.server.xxss.protection</name>
        <value>1; mode=block</value>
        <description>The HTTP X-XSS-Protection response header is a feature of Internet Explorer, Chrome and Safari that stops pages from loading when they detect reflected cross-site scripting (XSS) attacks. When value is set to 1 and a cross-site scripting attack is detected, the browser will sanitize the page (remove the unsafe parts).</description>
    </property>

    <property>
        <name>zeppelin.server.xcontent.type.options</name>
        <value>nosniff</value>
        <description>The HTTP X-Content-Type-Options response header helps to prevent MIME type sniffing attacks. It directs the browser to honor the type specified in the Content-Type header, rather than trying to determine the type from the content itself. The default value "nosniff" is really the only meaningful value. This header is supported on all browsers except Safari and Safari on iOS.</description>
    </property>

    <!--
    <property>
      <name>zeppelin.interpreter.callback.portRange</name>
      <value>10000:10010</value>
    </property>
    -->

    <!--
    <property>
      <name>zeppelin.recovery.storage.class</name>
      <value>org.apache.zeppelin.interpreter.recovery.LocalRecoveryStorage</value>
      <description>ReoveryStorage implementation based on java native local file system</description>
    </property>

    <property>
      <name>zeppelin.recovery.storage.class</name>
      <value>org.apache.zeppelin.interpreter.recovery.FileSystemRecoveryStorage</value>
      <description>ReoveryStorage implementation based on hadoop FileSystem</description>
    </property>
    -->

    <!--
    <property>
      <name>zeppelin.recovery.dir</name>
      <value>recovery</value>
      <description>Location where recovery metadata is stored</description>
    </property>
    -->

    <!-- GitHub configurations
    <property>
      <name>zeppelin.notebook.git.remote.url</name>
      <value></value>
      <description>remote Git repository URL</description>
    </property>

    <property>
      <name>zeppelin.notebook.git.remote.username</name>
      <value>token</value>
      <description>remote Git repository username</description>
    </property>

    <property>
      <name>zeppelin.notebook.git.remote.access-token</name>
      <value></value>
      <description>remote Git repository password</description>
    </property>

    <property>
      <name>zeppelin.notebook.git.remote.origin</name>
      <value>origin</value>
      <description>Git repository remote</description>
    </property>

    <property>
      <name>zeppelin.notebook.cron.enable</name>
      <value>false</value>
      <description>Notebook enable cron scheduler feature</description>
    </property>
    <property>
      <name>zeppelin.notebook.cron.folders</name>
      <value></value>
      <description>Notebook cron folders</description>
    </property>
    -->

    <property>
        <name>zeppelin.run.mode</name>
        <value>auto</value>
        <description>'auto|local|k8s|docker'</description>
    </property>

    <property>
        <name>zeppelin.k8s.portforward</name>
        <value>false</value>
        <description>Port forward to interpreter rpc port. Set 'true' only on local development when zeppelin.k8s.mode 'on'</description>
    </property>

    <property>
        <name>zeppelin.k8s.container.image</name>
        <value>apache/zeppelin:0.9.0-SNAPSHOT</value>
        <description>Docker image for interpreters</description>
    </property>

    <property>
        <name>zeppelin.k8s.spark.container.image</name>
        <value>apache/spark:latest</value>
        <description>Docker image for Spark executors</description>
    </property>

    <property>
        <name>zeppelin.k8s.template.dir</name>
        <value>k8s</value>
        <description>Kubernetes yaml spec files</description>
    </property>

    <property>
        <name>zeppelin.docker.container.image</name>
        <value>apache/zeppelin:0.8.0</value>
        <description>Docker image for interpreters</description>
    </property>

    <property>
        <name>zeppelin.search.index.rebuild</name>
        <value>false</value>
        <description>Whether rebuild index when zeppelin start. If true, it would read all notes and rebuild the index, this would consume lots of memory if you have large amounts of notes, so by default it is false</description>
    </property>

    <property>
        <name>zeppelin.search.use.disk</name>
        <value>true</value>
        <description>Whether using disk for storing search index, if false, memory will be used instead.</description>
    </property>

    <property>
        <name>zeppelin.search.index.path</name>
        <value>/tmp/zeppelin-index</value>
        <description>path for storing search index on disk.</description>
    </property>

    <property>
        <name>zeppelin.jobmanager.enable</name>
        <value>false</value>
        <description>The Job tab in zeppelin page seems not so useful instead it cost lots of memory and affect the performance.
            Disable it can save lots of memory</description>
    </property>

    <property>
        <name>zeppelin.spark.only_yarn_cluster</name>
        <value>false</value>
        <description>Whether only allow yarn cluster mode</description>
    </property>

</configuration>
