.feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0;
}

.feed-btn {
    margin: 10px 5px;
    border: 1px solid #efefef;
    padding: 5px 8px;
    outline: none !important;
    font-size: 20px;
    background: #222222;
    color: #ffffff;
}

.feed-btn:hover {
    background: #cdcdcd;
    color: #333333;
    cursor: pointer;
}