---
---

@import url('stylesheet.css');
@import url('custom/header.css');
@import url('custom/nav.css');
@import url('custom/contents.css');
@import url('syntax.css');
@import url('custom/tooltips.css');

* {
  box-sizing: border-box;
}

#main_content {  
  display: flex;
  align-items:flex-start;
  padding: 0;
  height: inherit;
  max-width: 1600px;
  margin:auto;
}

#wip {
  padding-top: 15px;
  text-align: center;
}

.content {
  min-width: 650px;
  padding-left: 40px;
  padding-bottom: 50px;
  padding: 10px 40px 50px 40px;
  line-height: 1.8;
  float:left;
  width:850px;
  margin-left:325px;
  display:block;
  font-size: 16px;
  color: #222;
  font-family: Roboto, sans-serif;
  line-height: 24px;

  > div {
    width: 100%;
  }
  h1, h2, h3, h4 { line-height: 40px; }
  h1, h2, h3, h4, h5, h6 {
    background: none;
    margin: 20px 0 10px;
    font-weight: 600;
    text-rendering: optimizelegibility;
  }

  h1 {
    font-size: 31px;
    margin: 20px 0;
  }
  h2, h3 {
    margin: 40px 0 20px;
    border-bottom:1px solid #ebebeb;
    padding-bottom: 3px;
  }
}



a {
  color: #7d5bbe;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

#main_content_wrap {
  background: #fff;
  border: none;
}

pre,
code {
  white-space: pre-wrap;
  box-shadow: none;
  border-radius: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
}

pre {
  border-left: 4px solid #9a7fcc;
  background-color: #f7f7f7;
}

code {
  font-size: 13px;
}

.inner {
  margin: 0;
}

html {
  height:100%;
  body {
    background-color:white;
  }
  body, #main_content_wrap, #main_content {
    font-family: 'Open Sans', sans-serif;
  }
}

h1, h2, h3, h4, h5, h6, .heading-level-1 {
    font-family: 'Open Sans', sans-serif;

}

/* Styles from anchor.js */

/**
 * Link placement and hover behavior.
 */

.anchorjs-link {
  color: inherit !important;
  text-decoration: none !important; /* do not underline */
}

@media (max-width: 768px) {
  /* Do not display AnchorJS icon on less than 768px view point */
  .anchorjs-link {
    display: none;
  }
}

*:hover > .anchorjs-link {
  opacity: .75;
  /* To fade links as they appear, change transition-property from 'color' to 'all' */
  -webkit-transition: color .16s linear;
  transition: color .16s linear;
}

*:hover > .anchorjs-link:hover,
.anchorjs-link:focus {
  text-decoration: none !important; /* do not underline */
  opacity: 1;
}

ol li, ul li {
  padding-bottom: 12px;
}

span.description {
  font-size: 12px;
  color: #898395;
}

.task-list {
  list-style: none;

  .task-list-item {
    padding-bottom:6px;
  }
  .task-list-tem:last-of-type {
    padding-bottom:12px;
  }
}