/*
    Name:       Base16 Chalk Dark
    Author:     Chris Kempson (http://chriskempson.com)
    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
*/
.highlight .hll { background-color: #303030 }
.highlight  { background: #151515; color: #f5f5f5 }
.highlight .c { color: #f06292 } /* Comment */
.highlight .k { color: #e1a3ee } /* Keyword */
.highlight .l { color: #eda987 } /* Literal */
.highlight .n { color: #f5f5f5 } /* Name */
.highlight .o { color: #12cfc0 } /* Operator */
.highlight .p { color: #f5f5f5 } /* Punctuation */
.highlight .cm { color: #f06292 } /* Comment.Multiline */
.highlight .cp { color: #f06292 } /* Comment.Preproc */
.highlight .c1 { color: #f06292 } /* Comment.Single */
.highlight .cs { color: #f06292 } /* Comment.Special */
.highlight .gd { color: #fb9fb1 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #f5f5f5; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #acc267 } /* Generic.Inserted */
.highlight .gp { color: #505050; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #12cfc0; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #e1a3ee } /* Keyword.Constant */
.highlight .kd { color: #e1a3ee } /* Keyword.Declaration */
.highlight .kn { color: #12cfc0 } /* Keyword.Namespace */
.highlight .kp { color: #e1a3ee } /* Keyword.Pseudo */
.highlight .kr { color: #e1a3ee } /* Keyword.Reserved */
.highlight .kt { color: #ddb26f } /* Keyword.Type */
.highlight .ld { color: #acc267 } /* Literal.Date */
.highlight .m { color: #eda987 } /* Literal.Number */
.highlight .s { color: #acc267 } /* Literal.String */
.highlight .na { color: #6fc2ef } /* Name.Attribute */
.highlight .nb { color: #f5f5f5 } /* Name.Builtin */
.highlight .nc { color: #ddb26f } /* Name.Class */
.highlight .no { color: #fb9fb1 } /* Name.Constant */
.highlight .nd { color: #12cfc0 } /* Name.Decorator */
.highlight .ni { color: #f5f5f5 } /* Name.Entity */
.highlight .ne { color: #fb9fb1 } /* Name.Exception */
.highlight .nf { color: #6fc2ef } /* Name.Function */
.highlight .nl { color: #f5f5f5 } /* Name.Label */
.highlight .nn { color: #ddb26f } /* Name.Namespace */
.highlight .nx { color: #6fc2ef } /* Name.Other */
.highlight .py { color: #f5f5f5 } /* Name.Property */
.highlight .nt { color: #12cfc0 } /* Name.Tag */
.highlight .nv { color: #fb9fb1 } /* Name.Variable */
.highlight .ow { color: #12cfc0 } /* Operator.Word */
.highlight .w { color: #f5f5f5 } /* Text.Whitespace */
.highlight .mf { color: #eda987 } /* Literal.Number.Float */
.highlight .mh { color: #eda987 } /* Literal.Number.Hex */
.highlight .mi { color: #eda987 } /* Literal.Number.Integer */
.highlight .mo { color: #eda987 } /* Literal.Number.Oct */
.highlight .sb { color: #acc267 } /* Literal.String.Backtick */
.highlight .sc { color: #f5f5f5 } /* Literal.String.Char */
.highlight .sd { color: #505050 } /* Literal.String.Doc */
.highlight .s2 { color: #acc267 } /* Literal.String.Double */
.highlight .se { color: #eda987 } /* Literal.String.Escape */
.highlight .sh { color: #acc267 } /* Literal.String.Heredoc */
.highlight .si { color: #eda987 } /* Literal.String.Interpol */
.highlight .sx { color: #acc267 } /* Literal.String.Other */
.highlight .sr { color: #acc267 } /* Literal.String.Regex */
.highlight .s1 { color: #acc267 } /* Literal.String.Single */
.highlight .ss { color: #acc267 } /* Literal.String.Symbol */
.highlight .bp { color: #f5f5f5 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #fb9fb1 } /* Name.Variable.Class */
.highlight .vg { color: #fb9fb1 } /* Name.Variable.Global */
.highlight .vi { color: #fb9fb1 } /* Name.Variable.Instance */
.highlight .il { color: #eda987 } /* Literal.Number.Integer.Long */

code.highlighter-rouge { background-color: #ede7f6}
pre code { color: #e6db74 }

pre.highlight {
  background-color: #222;
}