<div class="form__group">
  <div class="form__label">Select available countries and set price exceptions</div>
  {{input type='text' class='form__input mg-b-1' value=filter placeholder='Filter countries...'}}
  <ul>
    <li class="mg-b-1">
      <button class="button flex__item" {{action 'setAvailableInFilteredCountries'}}>
        Select All
      </button>
      <button class="button flex__item" {{action 'unsetAvailableInFilteredCountries'}}>
        Deselect All
      </button>
    </li>
  </ul>
  <div class="scroll-list">
    {{#each filteredCountries as |country|}}
      <div class="scroll-list__item {{if (not-eq defaultPrice country.price) 'exception'}} tower tower--gutter-xs tower--nowrap flex--verticalCenter">
        <div class="col-xs-2">
          {{input type="checkbox" id=country.countryCode class='form__input' checked=country.available}}
          <label class="checkbox__label" for="{{country.countryCode}}">
            {{country.countryCode}}
          </label>
        </div>
        <div class="col-xs-2">Price:</div>
        <div class="col-xs-8">
          {{input type='text' class='form__input' value=country.priceAsNumber disabled=(not country.available)}}
        </div>
      </div>
    {{/each}}
  </div>
</div>