<h3 class="commerce-header">Game Details</h3>
<div class="tower tower--xs-1-1">
  <div class="commerce-section">
    <div class="flex mg-y-1">
      <div class="strong mg-r-2" style="width:10%">Vendor ID:</div>
      <div>{{managedProduct.adgVendorId}}</div>
    </div>
    <div class="flex mg-y-1">
      <div class="strong mg-r-2" style="width:10%">Product ID:</div>
      <div>{{managedProduct.adgProductId}}</div>
    </div>
  </div>
</div>
<div class="tower tower--xs-1-2">
  <div class="commerce-section">
    <h4 class="commerce-section__header">Minimum Specs</h4>
    <div class="form">
      {{text-field parentModel=managedProduct.minimumPcRequirements fieldName='os' label='OS'}}
      {{text-field parentModel=managedProduct.minimumPcRequirements fieldName='processor' label='Processor'}}
      {{text-field parentModel=managedProduct.minimumPcRequirements fieldName='ram' label='RAM'}}
      {{text-field parentModel=managedProduct.minimumPcRequirements fieldName='hardDriveSpace' label='Hard Drive Space'}}
      {{text-field parentModel=managedProduct.minimumPcRequirements fieldName='videoCard' label='Video Card'}}
      {{text-field parentModel=managedProduct.minimumPcRequirements fieldName='directX' label='Direct X'}}
    </div>
  </div>
  <div class="commerce-section">
    <h4 class="commerce-section__header">Recommended Specs</h4>
    <div class="form">
      {{text-field parentModel=managedProduct.recommendedPcRequirements fieldName='os' label='OS'}}
      {{text-field parentModel=managedProduct.recommendedPcRequirements fieldName='processor' label='Processor'}}
      {{text-field parentModel=managedProduct.recommendedPcRequirements fieldName='ram' label='RAM'}}
      {{text-field parentModel=managedProduct.recommendedPcRequirements fieldName='hardDriveSpace' label='Hard Drive Space'}}
      {{text-field parentModel=managedProduct.recommendedPcRequirements fieldName='videoCard' label='Video Card'}}
      {{text-field parentModel=managedProduct.recommendedPcRequirements fieldName='directX' label='Direct X'}}
    </div>
  </div>
  <div class="commerce-section">
    <h4 class="commerce-section__header">Other Details</h4>
    <div class="form__group">
      <label class="form__label">
        Does this game require continuous online connectivity ("Always Online")?
      </label>
      <ul>
        <li class="mg-b-1">
          {{radio-button
            radioId="alwaysOnline"
            radioClass="form__input"
            value=true
            groupValue=managedProduct.requiresContinuousConnectivity
          }}
          <label for="alwaysOnline">Yes</label>
        </li>
        <li class="mg-b-1">
          {{radio-button
            radioId="offline"
            radioClass="form__input"
            value=false
            groupValue=managedProduct.requiresContinuousConnectivity
          }}
          <label for="offline">No</label>
        </li>
      </ul>
    </div>
    {{text-field parentModel=managedProduct fieldName='otherPcRequirements' label='Other PC Requirements'}}
    {{text-field parentModel=managedProduct fieldName='numberOfPlayersSupported' label='Number of Players Supported'}}
    {{text-field parentModel=managedProduct fieldName='supportedControllers' label='Supported Controllers'}}
    {{text-field parentModel=managedProduct fieldName='developerName' label='Developer Name'}}
    {{text-field parentModel=managedProduct fieldName='developerWebsiteUrl' label='Developer Website URL'}}
    {{text-field parentModel=managedProduct fieldName='customerSupportUrl' label='Customer Support Website URL'}}
    {{text-field parentModel=managedProduct fieldName='customerSupportEmail' label='Customer Support Email'}}
    <div class="form__group">
      <div class="form__label">Supported Languages</div>
      <div class="scroll-list">
        {{#each managedProduct.languageSupport as |language|}}
          <div class="scroll-list__item tower tower--gutter-sm tower--nowrap flex--verticalCenter">
            <div class="col-xs-3">{{language.languageCode}}</div>
            <div class="checkbox col-xs-3">
              {{input type='checkbox' id=(concat language.languageCode '-instructions') class='form__input' checked=language.instructions}}
              <label class="checkbox__label" for="{{language.languageCode}}-instructions">
                Instructions
              </label>
            </div>
            <div class="checkbox col-xs-3">
              {{input type='checkbox' id=(concat language.languageCode '-subtitlesAndCaptions') class='form__input' checked=language.subtitlesAndCaptions}}
              <label class="checkbox__label" for="{{language.languageCode}}-subtitlesAndCaptions">
                Subtitles
              </label>
            </div>
            <div class="checkbox col-xs-3">
              {{input type='checkbox' id=(concat language.languageCode '-audio') class='form__input'checked=language.audio}}
              <label class="checkbox__label" for="{{language.languageCode}}-audio">
                Audio
              </label>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{text-field-list class='full-width' list=managedProduct.broadcasterVodUrls label='Video URLs' placeholder='Enter a new video URL...'}}
  </div>
</div>