<div class="content-header clearfix">
  <h3 class="inline">Products</h3>
</div>
<div class="content-section flex">
  {{#sidebar-nav}}
    {{#each dpps as |devPortalProduct index|}}
      <div role="button"
           class="sidebar-nav__item {{selected-class index selectedIndex}}"
        {{action 'selectDevPortalProduct' devPortalProduct index}}>
        {{devPortalProduct.title}}
      </div>
    {{/each}}
  {{/sidebar-nav}}

  <div class="content-detail flex__item flex__item--grow">
    <h3>{{selectedDevPortalProduct.title}}</h3>
    <div class="game-detail__brick brick brick--pd-lg brick--theme-white">
      <div class="brick-title">TWITCH COMMERCE</div>
      <div class="brick-content">SERVICE SUMMARY TBD</div>
      {{link-to 'Edit Game' 'product.commerce' selectedDevPortalProduct.id class='button'}}
      {{link-to 'Edit Extensions' 'product.extensions' selectedDevPortalProduct.id class='button'}}
    </div>
  </div>
</div>
