<div class="game-header">
  <h1 class="game-header__name">{{devPortalProduct.title}}</h1>
  <nav class="game-header__nav">
    <ul class="flex flex--horizontalEnd">
      <li class="game-header__nav-item flex__item">{{link-to "Commerce" "product.commerce" devPortalProduct.id}}</li>
      <li class="game-header__nav-item flex__item">{{link-to "Extensions" "product.extensions" devPortalProduct.id}}</li>
    </ul>
  </nav>
</div>