<h3 class="commerce-header">Distribution & Pricing</h3>
<div class="tower tower--xs-1-2">
  <div class="commerce-section">
    <div class="form">
      {{text-field parentModel=managedProduct fieldName='sku' label='SKU'}}
      {{text-field number=true
                   parentModel=managedProduct
                   fieldName='defaultPriceAsNumber'
                   label='Default Price'
                   focusOutAction=(action 'setPriceForAllCountries')}}
      {{country-price-list countries=managedProduct.availabilityInfo defaultPrice=oldDefaultPrice}}
      <div class="form__group {{if (v-get managedProduct 'releaseDate' 'isInvalid') 'form__group--error'}}">
        <label class="form__label">Release Date</label>
        {{date-time-picker managedProduct.releaseDate
                           options=(hash className='form__input')
                           value=managedProduct.releaseDate
                           action='setReleaseDate'}}
        {{#if (v-get managedProduct 'releaseDate' 'isInvalid')}}
          <p class="form__hint form__hint--error">{{v-get managedProduct 'releaseDate' 'message'}}</p>
        {{/if}}
      </div>
      <div class="form__group">
        <label class="form__label">ESRB Rating</label>
        {{#x-select class='form__input'
                    value=managedProduct.esrbRating.ratingCategory
                    on-change=(action (mut managedProduct.esrbRating.ratingCategory))
                    as |xs|}}
          {{#xs.option value='rating_pending'}}Rating Pending{{/xs.option}}
          {{#xs.option value='early_childhood'}}Early Childhood{{/xs.option}}
          {{#xs.option value='everyone'}}Everyone{{/xs.option}}
          {{#xs.option value='everyone_10_plus'}}Everyone 10+{{/xs.option}}
          {{#xs.option value='teen'}}Teen{{/xs.option}}
          {{#xs.option value='mature'}}Mature{{/xs.option}}
          {{#xs.option value='adults_only'}}Adults Only{{/xs.option}}
        {{/x-select}}
      </div>
      <div class="form__group">
        <label class="form__label">PEGI Rating</label>
        {{#x-select class='form__input'
                    value=managedProduct.pegiRating
                    on-change=(action (mut managedProduct.pegiRating))
                    as |xs|}}
          {{#xs.option value='to_be_announced'}}To be announced{{/xs.option}}
          {{#xs.option value='ages_3_and_over'}}3 (Suitable for all ages){{/xs.option}}
          {{#xs.option value='ages_7_and_over'}}7 (Suitable for all ages 7 and older){{/xs.option}}
          {{#xs.option value='ages_12_and_over'}}12 (Suitable for all ages 12 and older){{/xs.option}}
          {{#xs.option value='ages_16_and_over'}}16 (Suitable for all ages 16 and older){{/xs.option}}
          {{#xs.option value='ages_18_and_over'}}18 (Unsuitable for persons under 18){{/xs.option}}
          {{#xs.option value='unknown'}}Unknown{{/xs.option}}
        {{/x-select}}
      </div>
      <div class="form__group">
        <label class="form__label">USK Rating</label>
        {{#x-select class='form__input'
                    value=managedProduct.uskRating
                    on-change=(action (mut managedProduct.uskRating))
                    as |xs|}}
          {{#xs.option value='to_be_announced'}}To be announced{{/xs.option}}
          {{#xs.option value='educational'}}Educational{{/xs.option}}
          {{#xs.option value='infotainment'}}Infotainment{{/xs.option}}
          {{#xs.option value='checked_by_legal_department'}}Checked by legal department{{/xs.option}}
          {{#xs.option value='not_checked'}}Not checked{{/xs.option}}
          {{#xs.option value='cannot_publicize'}}Cannot publicize{{/xs.option}}
          {{#xs.option value='without_age_limitation'}}Without age limitation{{/xs.option}}
          {{#xs.option value='ages_6_and_over'}}USK 6 (Approved for children aged 6 and above){{/xs.option}}
          {{#xs.option value='ages_12_and_over'}}USK 12 (Approved for children aged 12 and above){{/xs.option}}
          {{#xs.option value='ages_16_and_over'}}USK 16 (Approved for children aged 16 and above){{/xs.option}}
          {{#xs.option value='ages_18_and_over'}}USK 18 (Not approved for young persons aged under 18){{/xs.option}}
          {{#xs.option value='unknown'}}Unknown{{/xs.option}}
        {{/x-select}}
      </div>
      <div class="form__group">
        <label class="form__label">Fulfillment Method</label>
        {{#x-select class='form__input'
                    value=managedProduct.fulfillmentMethod
                    on-change=(action (mut managedProduct.fulfillmentMethod))
                    as |xs|}}
          {{#xs.option value="fulfilled_FuelLauncher_default"}}fulfilled_FuelLauncher_default{{/xs.option}}
          {{#xs.option value="fulfilled_tes_bdo"}}fulfilled_tes_bdo{{/xs.option}}
          {{#xs.option value="fulfilled_tes_bethesda"}}fulfilled_tes_bethesda{{/xs.option}}
          {{#xs.option value="fulfilled_tes_eso"}}fulfilled_tes_eso{{/xs.option}}
          {{#xs.option value="fulfilled_tes_blue_mammoth"}}fulfilled_tes_blue_mammoth{{/xs.option}}
          {{#xs.option value="fulfilled_tes_daybreak"}}fulfilled_tes_daybreak{{/xs.option}}
          {{#xs.option value="fulfilled_tes_digital_extremes"}}fulfilled_tes_digital_extremes{{/xs.option}}
          {{#xs.option value="fulfilled_tes_hirez"}}fulfilled_tes_hirez{{/xs.option}}
          {{#xs.option value="fulfilled_tes_humble_bundle"}}fulfilled_tes_humble_bundle{{/xs.option}}
          {{#xs.option value="fulfilled_tes_secret_world_legends"}}fulfilled_tes_secret_world_legends{{/xs.option}}
          {{#xs.option value="fulfilled_tes_stunlock"}}fulfilled_tes_stunlock{{/xs.option}}
          {{#xs.option value="fulfilled_tes_trion"}}fulfilled_tes_trion{{/xs.option}}
          {{#xs.option value="fulfilled_tes_trion_archeage"}}fulfilled_tes_trion_archeage{{/xs.option}}
          {{#xs.option value="fulfilled_tes_Unnyhog"}}fulfilled_tes_Unnyhog{{/xs.option}}
          {{#xs.option value="fulfilled_TPuF_ubisoft"}}fulfilled_TPuF_ubisoft{{/xs.option}}
          {{#xs.option value="fulfilled_tes_bnea"}}fulfilled_tes_bnea{{/xs.option}}
        {{/x-select}}
      </div>
      <div class="form__group">
        <label class="form__label">Category Info Id</label>
        {{#x-select class='form__input'
                    value=managedProduct.categoryInfoId
                    on-change=(action (mut managedProduct.categoryInfoId))
                    as |xs|}}
          {{#xs.option value="twitch_fuel_action_game"}}twitch_fuel_action_game{{/xs.option}}
        {{/x-select}}
      </div>
      {{text-field parentModel=managedProduct fieldName='version' label='Game Version'}}
    </div>
  </div>
</div>
