<h3 class="commerce-header flex flex--verticalCenter">
  Extension Items
  <button class="button flex__item" onclick={{action 'addItemBtnHandler'}}>
    Add Item
  </button>
</h3>
<div class="commerce-section">
  <div class="igc-list">
    <div class="tower igc-list__item igc-list__header">
      <div class="col-xs-3">NAME</div>
      <div class="col-xs-2">SKU</div>
      <div class="col-xs-3">TYPE</div>
      <div class="col-xs-3">DEFAULT PRICE</div>
      <div class="col-xs-1">ACTIONS</div>
    </div>
    {{#each extensionItems as |item|}}
      <div class="tower igc-list__item flex--verticalCenter">
        <div class="col-xs-3">
          {{item.title}}
        </div>
        <div class="col-xs-2">
          {{item.sku}}
        </div>
        <div class="col-xs-3">
          {{item.itemType}}
        </div>
        <div class="col-xs-3">
          {{item.defaultPrice}}
        </div>
        <div class="col-xs-1">
          {{#link-to "product.extensions.extension-item-edit" item.id}}
            <button class="button">Edit</button>
          {{/link-to}}
        </div>
      </div>
    {{/each}}
  </div>
</div>