<h3 class="commerce-header">
  {{item.title}}
  {{#if saving}}
    <button class="flex__item relative mg-x-3">
      {{ember-spinner lines='17' length='0' width='20' radius='50' color='#6441a4' scale='0.25'}}
    </button>
  {{else}}
    <button class="flex__item button button--hollow" {{action 'saveExtensionItem' item}}>
      Save
    </button>
    <button class="flex__item button {{if (v-get item 'isInvalid') 'button--disabled'}}"
            disabled={{or (v-get item 'isInvalid') submittedSuccessfully}}
            {{action 'submitExtensionItem' item}}>
      Publish
    </button>
  {{/if}}
  <p class="small hint pd-y-1">
    {{#if saving}}
      Saving...
    {{else}}
      Saved at {{moment-format item.lastUpdated 'LT, MMM D YYYY' 'X'}}
    {{/if}}
  </p>
  {{#if showSubmissionMessageBrick}}
    <div class="brick brick--marked header-brick">
      <h4>{{submissionResponse}}</h4>
    </div>
  {{/if}}
  {{#if (v-get item 'isInvalid')}}
    <div class="brick brick--marked header-brick">
      <h4 class="strong">Your document is not valid! Please fix these errors before publishing.</h4>
      <ul>
        {{#each item.validations.messages as |error|}}
          <li class="header-brick__item">
            {{error}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</h3>
<div class="commerce-section">
  <div class="flex mg-y-1">
    <div class="strong mg-r-2" style="width:10%">Vendor ID:</div>
    <div>{{item.adgVendorId}}</div>
  </div>
  <div class="flex mg-y-1">
    <div class="strong mg-r-2" style="width:10%">Product ID:</div>
    <div>{{item.adgProductId}}</div>
  </div>
</div>
<h3 class="commerce-header">
  General
</h3>
<div class="commerce-section">
  <div class="form">
    {{text-field parentModel=item fieldName='sku' label='SKU'}}
    <div class="form__group">
      <label class="form__label">
        Extension type
      </label>
      {{#x-select class='form__input' value=item.itemType on-change=(action (mut item.itemType)) as |xs|}}
        {{#xs.option value='GeneralDigitalGood'}}General digital good{{/xs.option}}
        {{#xs.option value='RemotelyAccessedDigitalGood'}}Remotely accessed digital good{{/xs.option}}
        {{#xs.option value='RemotelyAccessedDigitalGame'}}Remotely accessed digital game{{/xs.option}}
        {{#xs.option value='StreamingAudio'}}Streaming audio{{/xs.option}}
        {{#xs.option value='Services'}}Services{{/xs.option}}
        {{#xs.option value='Subscriptions'}}Subscriptions{{/xs.option}}
        {{#xs.option value='Other'}}Other{{/xs.option}}
      {{/x-select}}
    </div>
  </div>
</div>
<h3 class="commerce-header">
  Pricing
</h3>
<div class="commerce-section">
  <div class="form">
    <div class="form__group">
      <div class="form__label">Required tax information</div>
      {{input type='checkbox' id='multiplePurchases' class='form__input' checked=item.multiplePurchases}}
      <label class="checkbox__label" for="multiplePurchases">
        Multiple purchases allowed
      </label>
    </div>
    {{text-field number=true parentModel=item fieldName='defaultPriceAsNumber' label='Default Price' focusOutAction=(action 'setPriceForAllCountries')}}
    {{country-price-list countries=item.availabilityInfo defaultPrice=oldDefaultPrice}}
  </div>
</div>
<h3 class="commerce-header flex flex--verticalCenter">
  Localization
  <button class="button flex__item" {{action 'addLocaleCard'}}>
    Add Locale
  </button>
  <div class="form__group flex__item locale-select">
    {{#x-select class='form__input' value=newLocale on-change=(action (mut newLocale)) as |xs|}}
      {{#each remainingLocales as |locale|}}
        {{#xs.option value=locale}}{{locale}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  </div>
</h3>
<div class="tower tower--xs-1-3">
  {{#each item.localeListings as |listing|}}
    <div class="commerce-section">
      <div class="flex flex--verticalCenter commerce-section__header">
        <h4 class="flex__item">{{listing.locale}}</h4>
        {{#if (not-eq listing.locale 'en-US')}}
          <button class="button button--alert flex__item flex__item--end" {{action 'removeLocaleCard' listing.locale}}>
            Delete
          </button>
        {{/if}}
      </div>
      <div class="form listing">
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='displayName' label='Display Name'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'displayName' listing.displayName}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          <div class="form__group inline-block {{if (v-get listing 'shortDescription' 'isInvalid') 'form__group--error'}}">
            <div class="form__label">Short Description</div>
            {{textarea class='form__input description' value=listing.shortDescription}}
            {{#if (v-get listing 'shortDescription' 'isInvalid')}}
              <p class="form__hint form__hint--error">{{v-get listing 'shortDescription' 'message'}}</p>
            {{else}}
              <p class="form__hint">Max 1600 characters</p>
            {{/if}}
          </div>
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'shortDescription' listing.shortDescription}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          <div class="form__group inline-block {{if (v-get listing 'longDescription' 'isInvalid') 'form__group--error'}}">
            <div class="form__label">Long Description</div>
            {{textarea class='form__input description' value=listing.longDescription}}
            {{#if (v-get listing 'longDescription' 'isInvalid')}}
              <p class="form__hint form__hint--error">{{v-get listing 'longDescription' 'message'}}</p>
            {{else}}
              <p class="form__hint">Max 4000 characters</p>
            {{/if}}
          </div>
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'longDescription' listing.longDescription}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field-list class='inline' list=listing.keywords label='Keywords' placeholder='Enter a new keyword...'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'keywords' listing.keywords}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='boxShotId' label='Box Shot ID'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'boxShotId' listing.boxShotId}}>
            Copy to all
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>