<h3 class="commerce-header">
  {{extension.title}}
  {{#if saving}}
    <button class="flex__item relative mg-x-3">
      {{ember-spinner lines='17' length='0' width='20' radius='50' color='#6441a4' scale='0.25'}}
    </button>
  {{else}}
    <button class="flex__item button button--hollow" {{action 'saveExtension' extension}}>
      Save
    </button>
    <button class="flex__item button {{if (v-get extension 'isInvalid') 'button--disabled'}}"
            disabled={{or (v-get extension 'isInvalid') submittedSuccessfully}}
            {{action 'submitExtension' extension}}>
      Publish
    </button>
  {{/if}}
  <p class="small hint pd-y-1">
    {{#if saving}}
      Saving...
    {{else}}
      Saved at {{moment-format extension.lastUpdated 'LT, MMM D YYYY' 'X'}}
    {{/if}}
  </p>
  {{#if showSubmissionMessageBrick}}
    <div class="brick brick--marked header-brick">
      <h4>{{submissionResponse}}</h4>
    </div>
  {{/if}}
  {{#if (v-get extension 'isInvalid')}}
    <div class="brick brick--marked header-brick">
      <h4 class="strong">Your document is not valid! Please fix these errors before publishing.</h4>
      <ul>
        {{#each extension.validations.messages as |error|}}
          <li class="header-brick__item">
            {{error}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</h3>
<div class="commerce-section">
  <div class="flex mg-y-1">
    <div class="strong mg-r-2" style="width:10%">Vendor ID:</div>
    <div>{{extension.adgVendorId}}</div>
  </div>
  <div class="flex mg-y-1">
    <div class="strong mg-r-2" style="width:10%">Product ID:</div>
    <div>{{extension.adgProductId}}</div>
  </div>
</div>
<h3 class="commerce-header">
  General
</h3>
<div class="commerce-section">
  <div class="form">
    {{text-field parentModel=extension fieldName='sku' label='SKU'}}
    {{text-field parentModel=extension fieldName='developerName' label='Developer Name'}}
    {{text-field parentModel=extension fieldName='developerWebsiteUrl' label='Developer Website URL'}}
    {{text-field parentModel=extension fieldName='customerSupportUrl' label='Customer Support URL'}}
    {{text-field parentModel=extension fieldName='customerSupportEmail' label='Customer Support Email'}}
  </div>
</div>
<h3 class="commerce-header flex flex--verticalCenter">
  Localization
  <button class="button flex__item" {{action 'addLocaleCard'}}>
    Add Locale
  </button>
  <div class="form__group flex__item locale-select">
    {{#x-select class="form__input" value=newLocale on-change=(action (mut newLocale)) as |xs|}}
      {{#each remainingLocales as |locale|}}
        {{#xs.option value=locale}}{{locale}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  </div>
</h3>
<div class="tower tower--xs-1-3">
  {{#each extension.localeListings as |listing|}}
    <div class="commerce-section">
      <div class="flex flex--verticalCenter commerce-section__header">
        <h4 class="flex__item">{{listing.locale}}</h4>
        {{#if (not-eq listing.locale 'en-US')}}
          <button class="button button--alert flex__item flex__item--end" {{action 'removeLocaleCard' listing.locale}}>
            Delete
          </button>
        {{/if}}
      </div>
      <div class="form listing">
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='displayName' label='Display Name'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'displayName' listing.displayName}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field-list class='inline' list=listing.keywords label='Keywords' placeholder='Enter a new keyword...'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'keywords' listing.keywords}}>
            Copy to all
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>