<h3 class="commerce-header flex flex--verticalCenter">
  In-Game Content
  <button class="button flex__item" onclick={{action 'addItemBtnHandler'}}>
    Add Item
  </button>
</h3>
<div class="commerce-section">
  <div class="igc-list">
    <div class="tower igc-list__item igc-list__header">
      <div class="col-xs-4">NAME</div>
      <div class="col-xs-3">SKU</div>
      <div class="col-xs-4">DEFAULT PRICE</div>
      <div class="col-xs-1">ACTIONS</div>
    </div>
    {{#each inGameContentList as |item|}}
      <div class="tower igc-list__item flex--verticalCenter">
        <div class="col-xs-4">
          {{item.title}}
        </div>
        <div class="col-xs-3">
          {{item.sku}}
        </div>
        <div class="col-xs-4">
          {{item.defaultPrice}}
        </div>
        <div class="col-xs-1">
          {{#link-to 'product.commerce.igc.edit' item.id}}
            <button class="button">Edit</button>
          {{/link-to}}
        </div>
      </div>
    {{/each}}
  </div>
</div>