<h3 class="commerce-header">
  {{item.title}}
  {{#if saving}}
    <button class="flex__item relative mg-x-3">
      {{ember-spinner lines='17' length='0' width='20' radius='50' color='#6441a4' scale='0.25'}}
    </button>
  {{else}}
    <button class="flex__item button button--hollow" {{action 'saveInGameContentItem' item}}>
      Save
    </button>
    <button class="flex__item button {{if (v-get item 'isInvalid') 'button--disabled'}}"
            disabled={{or (v-get item 'isInvalid') submittedSuccessfully}}
            {{action 'submitInGameContentItem' item}}>
      Publish
    </button>
  {{/if}}
  <p class="small hint pd-y-1">
    {{#if saving}}
      Saving...
    {{else}}
      Saved at {{moment-format item.lastUpdated 'LT, MMM D YYYY' 'X'}}
    {{/if}}
  </p>
  {{#if showSubmissionMessageBrick}}
    <div class="brick brick--marked header-brick">
      <h4>{{submissionResponse}}</h4>
    </div>
  {{/if}}
  {{#if (v-get item 'isInvalid')}}
    <div class="brick brick--marked header-brick">
      <h4 class="strong">Your document is not valid! Please fix these errors before publishing.</h4>
      <ul>
        {{#each item.validations.messages as |error|}}
          <li class="header-brick__item">
            {{error}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</h3>
<h4 class="commerce-header">
  ADG Details
</h4>
<div class="commerce-section">
  <div class="form">
    <div class="form__group">
      <div class="form__label">Vendor ID: {{item.adgVendorId}}</div>
    </div>
    <div class="form__group">
      <div class="form__label">Product ID: {{item.adgProductId}}</div>
    </div>
  </div>
</div>
<h4 class="commerce-header">
  Product Details
</h4>
<div class="commerce-section">
  <div class="form">
    {{text-field parentModel=item fieldName='domainIdOverride' label='Domain Id Override (only used on initial submission)'}}
    {{text-field parentModel=item fieldName='sku' label='SKU'}}
    <div class="form__group">
      <label class="form__label">
        Category Info Id
      </label>
      {{#x-select class='form__input'
                  value=item.categoryInfoId
                  on-change=(action (mut item.categoryInfoId))
                  as |xs|}}
        {{#xs.option value='game-microtransactions-for-account-features-passes-and-expansions'}}
          game-microtransactions-for-account-features-passes-and-expansions
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-companions-and-pets'}}
          game-microtransactions-for-companions-and-pets
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-currency'}}
          game-microtransactions-for-currency
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-environments-levels-and-real-estate'}}
          game-microtransactions-for-environments-levels-and-real-estate
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-game-cosmetics-and-sounds'}}
          game-microtransactions-for-game-cosmetics-and-sounds
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-loot-item-bundles-and-collectibles'}}
          game-microtransactions-for-loot-item-bundles-and-collectibles
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-playable-characters'}}
          game-microtransactions-for-playable-characters
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-player-abilities-and-powers'}}
          game-microtransactions-for-player-abilities-and-powers
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-player-cosmetics-and-customization'}}
          game-microtransactions-for-player-cosmetics-and-customization
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-player-equipment-and-inventory'}}
          game-microtransactions-for-player-equipment-and-inventory
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-resources-and-crafting'}}
          game-microtransactions-for-resources-and-crafting
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-vehicles-mounts-and-transportation'}}
          game-microtransactions-for-vehicles-mounts-and-transportation
        {{/xs.option}}
        {{#xs.option value='game-microtransactions-for-weapons-and-ammunition'}}
          game-microtransactions-for-weapons-and-ammunition
        {{/xs.option}}
      {{/x-select}}
    </div>
    <div class="form__group">
      <label class="form__label">Fulfillment Method</label>
      {{#x-select class='form__input'
                  value=item.fulfillmentMethod
                  on-change=(action (mut item.fulfillmentMethod))
                  as |xs|}}
        {{#xs.option value="fulfilled_FuelLauncher_default"}}fulfilled_FuelLauncher_default{{/xs.option}}
        {{#xs.option value="fulfilled_tes_bdo"}}fulfilled_tes_bdo{{/xs.option}}
        {{#xs.option value="fulfilled_tes_bethesda"}}fulfilled_tes_bethesda{{/xs.option}}
        {{#xs.option value="fulfilled_tes_eso"}}fulfilled_tes_eso{{/xs.option}}
        {{#xs.option value="fulfilled_tes_blue_mammoth"}}fulfilled_tes_blue_mammoth{{/xs.option}}
        {{#xs.option value="fulfilled_tes_daybreak"}}fulfilled_tes_daybreak{{/xs.option}}
        {{#xs.option value="fulfilled_tes_digital_extremes"}}fulfilled_tes_digital_extremes{{/xs.option}}
        {{#xs.option value="fulfilled_tes_hirez"}}fulfilled_tes_hirez{{/xs.option}}
        {{#xs.option value="fulfilled_tes_humble_bundle"}}fulfilled_tes_humble_bundle{{/xs.option}}
        {{#xs.option value="fulfilled_tes_secret_world_legends"}}fulfilled_tes_secret_world_legends{{/xs.option}}
        {{#xs.option value="fulfilled_tes_stunlock"}}fulfilled_tes_stunlock{{/xs.option}}
        {{#xs.option value="fulfilled_tes_trion"}}fulfilled_tes_trion{{/xs.option}}
        {{#xs.option value="fulfilled_tes_trion_archeage"}}fulfilled_tes_trion_archeage{{/xs.option}}
        {{#xs.option value="fulfilled_tes_Unnyhog"}}fulfilled_tes_Unnyhog{{/xs.option}}
        {{#xs.option value="fulfilled_TPuF_ubisoft"}}fulfilled_TPuF_ubisoft{{/xs.option}}
        {{#xs.option value="fulfilled_tes_bnea"}}fulfilled_tes_bnea{{/xs.option}}
      {{/x-select}}
    </div>
  </div>
</div>
<h4 class="commerce-header">
  Pricing
</h4>
<div class="commerce-section">
  <div class="form">
    <div class="form__group">
      <div class="form__label">Required tax information</div>
      {{input type='checkbox' id='multiplePurchases' class='form__input' checked=item.multiplePurchases}}
      <label class="checkbox__label" for="multiplePurchases">
        Multiple purchases allowed?
      </label>
      {{input type='checkbox' id='inGameCurrency' class='form__input' checked=item.inGameCurrency}}
      <label class="checkbox__label" for="inGameCurrency">
        In-game currency?
      </label>
      {{input type='checkbox' id='durable' class='form__input' checked=item.durable}}
      <label class="checkbox__label" for="durable">
        Definitive lifetime?
      </label>
    </div>
    {{text-field number=true
                 parentModel=item
                 fieldName='defaultPriceAsNumber'
                 label='Default Price'
                 focusOutAction=(action 'setPriceForAllCountries')}}
    {{country-price-list countries=item.availabilityInfo defaultPrice=oldDefaultPrice}}
    <div class="form__group {{if (v-get item 'releaseDate' 'isInvalid') 'form__group--error'}}">
      <label class="form__label">Release Date</label>
      {{date-time-picker item.releaseDate
                         options=(hash className='form__input')
                         value=item.releaseDate
                         action='setReleaseDate'}}
      {{#if (v-get item 'releaseDate' 'isInvalid')}}
        <p class="form__hint form__hint--error">{{v-get item 'releaseDate' 'message'}}</p>
      {{/if}}
    </div>
  </div>
</div>
<h4 class="commerce-header flex flex--verticalCenter">
  Localization
  <button class="button flex__item" {{action 'addLocaleCard'}}>
    Add Locale
  </button>
  <div class="form__group flex__item locale-select">
    {{#x-select class="form__input" value=newLocale on-change=(action (mut newLocale)) as |xs|}}
      {{#each remainingLocales as |locale|}}
        {{#xs.option value=locale}}{{locale}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  </div>
</h4>
<div class="tower tower--xs-1-3">
  {{#each item.localeListings as |listing|}}
    <div class="commerce-section">
      <div class="flex flex--verticalCenter commerce-section__header">
        <h4 class="flex__item">{{listing.locale}}</h4>
        {{#if (not-eq listing.locale 'en-US')}}
          <button class="button button--alert flex__item flex__item--end" {{action 'removeLocaleCard' listing.locale}}>
            Delete
          </button>
        {{/if}}
      </div>
      <div class="form listing">
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='displayName' label='Display Name'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'displayName' listing.displayName}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          <div class="form__group inline-block {{if (v-get listing 'shortDescription' 'isInvalid') 'form__group--error'}}">
            <div class="form__label">Short Description</div>
            {{textarea class='form__input description' value=listing.shortDescription}}
            {{#if (v-get listing 'shortDescription' 'isInvalid')}}
              <p class="form__hint form__hint--error">{{v-get listing 'shortDescription' 'message'}}</p>
            {{else}}
              <p class="form__hint">Max 1600 characters</p>
            {{/if}}
          </div>
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'shortDescription' listing.shortDescription}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          <div class="form__group inline-block {{if (v-get listing 'longDescription' 'isInvalid') 'form__group--error'}}">
            <div class="form__label">Long Description</div>
            {{textarea class='form__input description' value=listing.longDescription}}
            {{#if (v-get listing 'longDescription' 'isInvalid')}}
              <p class="form__hint form__hint--error">{{v-get listing 'longDescription' 'message'}}</p>
            {{else}}
              <p class="form__hint">Max 4000 characters</p>
            {{/if}}
          </div>
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'longDescription' listing.longDescription}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field-list class='inline' list=listing.keywords label='Keywords' placeholder='Enter a new keyword...'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'keywords' listing.keywords}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='iconId' label='Icon Asset ID'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'iconId' listing.iconId}}>
            Copy to all
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>