<h3 class="commerce-header flex flex--verticalCenter">
  Localization
  <button class="button flex__item" {{action 'addLocaleCard'}}>
    Add Locale
  </button>
  <div class="form__group flex__item locale-select">
    {{#x-select class='form__input'
                value=newLocale
                on-change=(action (mut newLocale))
                as |xs|}}
      {{#each remainingLocales as |locale|}}
        {{#xs.option value=locale}}{{locale}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  </div>
</h3>
<div class="tower tower--xs-1-2">
  {{#each managedProduct.localeListings as |listing|}}
    <div class="commerce-section">
      <div class="flex flex--verticalCenter commerce-section__header">
        <h4 class="flex__item">{{listing.locale}}</h4>
        {{#if (not-eq listing.locale 'en-US')}}
          <button class="button button--alert flex__item flex__item--end" {{action 'removeLocaleCard' listing.locale}}>
            Delete
          </button>
        {{/if}}
      </div>
      <div class="form listing">
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='displayName' label='Display Name'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'displayName' listing.displayName}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='gameEdition' label='Game Edition'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'gameEdition' listing.gameEdition}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='gameEditionDetails' label='Game Edition Details'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'gameEditionDetails' listing.gameEditionDetails}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          <div class="form__group inline-block {{if (v-get listing 'shortDescription' 'isInvalid') 'form__group--error'}}">
            <div class="form__label">Short Description</div>
            {{textarea class='form__input description' value=listing.shortDescription}}
            {{#if (v-get listing 'shortDescription' 'isInvalid')}}
              <p class="form__hint form__hint--error">{{v-get listing 'shortDescription' 'message'}}</p>
            {{else}}
              <p class="form__hint">Max 1600 characters</p>
            {{/if}}
          </div>
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'shortDescription' listing.shortDescription}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          <div class="form__group inline-block {{if (v-get listing 'longDescription' 'isInvalid') 'form__group--error'}}">
            <div class="form__label">Long Description</div>
            {{textarea class='form__input description' value=listing.longDescription}}
            {{#if (v-get listing 'longDescription' 'isInvalid')}}
              <p class="form__hint form__hint--error">{{v-get listing 'longDescription' 'message'}}</p>
            {{else}}
              <p class="form__hint">Max 4000 characters</p>
            {{/if}}
          </div>
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'longDescription' listing.longDescription}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field-list class='inline' list=listing.productFeatures label='Product Features' placeholder='Enter a new product feature...'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'productFeatures' listing.productFeatures}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field-list class='inline' list=listing.keywords label='Keywords' placeholder='Enter a new keyword...'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'keywords' listing.keywords}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='eulaUrl' label='EULA URL'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'eulaUrl' listing.eulaUrl}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='iconId' label='Icon Asset ID'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'iconId' listing.iconId}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='boxShotId' label='Box Shot Asset ID'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'boxShotId' listing.boxShotId}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='pageBackgroundId' label='Page Background Asset ID'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'pageBackgroundId' listing.pageBackgroundId}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='thankYouPageBackgroundId' label='"Thank You" Page Background Asset ID'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'thankYouPageBackgroundId' listing.thankYouPageBackgroundId}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field class='inline' parentModel=listing fieldName='releaseNotesId' label='Release Notes Asset ID'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'releaseNotesId' listing.releaseNotesId}}>
            Copy to all
          </button>
        </div>
        <div class="clearfix">
          {{text-field-list class='inline' list=listing.screenshotIds label='Screenshot Asset IDs' placeholder='Enter a new asset ID...'}}
          <button class="button float-right mg-t-2" {{action 'copyToAllListings' 'screenshotIds' listing.screenshotIds}}>
            Copy to all
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>