<div class="flex flex--column flex--verticalCenter login--container">
  <h2 class="flex__item">Welcome to the Twitch Developer Portal</h2>
  <p class="flex__item">Please log in with your developer account.</p>
  <button class="flex__item button button--large" {{action 'authenticateWithTwitch'}}>Log In</button>
  <p class="login--details">
    We are working with select partners at launch this spring. Contact us
    <a href="https://dev.twitch.tv/commerce/form">here</a>
    to find out how you can join us later this year.
  </p>
</div>