<div class="flex flex--verticalCenter flex__item flex__item--grow justify-content-end commerce__doc-header">
  <span>
    {{#if saving}}
      Saving...
    {{else}}
      <span class="cl-green">Saved</span> at {{moment-format managedProduct.lastUpdated 'LT, MMM D YYYY' 'X'}}
    {{/if}}
  </span>
  {{#if saving}}
    <button class="flex__item relative mg-x-3">
      {{ember-spinner lines='17' length='0' width='20' radius='50' color='#6441a4' scale='0.25'}}
    </button>
  {{else}}
    <button class="flex__item button button--hollow" {{action 'saveProduct' managedProduct}}>
      Save
    </button>
    <button class="flex__item button {{if (v-get managedProduct 'isInvalid') 'button--disabled'}}"
            disabled={{or (v-get managedProduct 'isInvalid') submittedSuccessfully}}
            {{action 'submitProduct' managedProduct}}>
      Publish
    </button>
  {{/if}}
  {{#if showSubmissionMessageBrick}}
    <div class="brick brick--marked header-brick">
      <h4>{{submissionResponse}}</h4>
    </div>
  {{/if}}
  {{#if (v-get managedProduct 'isInvalid')}}
    <div class="brick brick--marked header-brick">
      <h4 class="strong">Your document is not valid! Please fix these errors before publishing.</h4>
      <ul>
        {{#each managedProduct.validations.messages as |error|}}
          <li class="header-brick__item">
            {{error}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>