<div class="flex flex--column flex--verticalCenter content-section">
  <div class="commerce-section">
    <div class="brick">
      <h4 class="strong">Oops!</h4>
      <p>Would you like to create a new {{productName}}?</p>
      <p>To do so, you will need to provide your ADG Vendor ID</p>
      <div class="form">
        <div class="form__group {{if invalidVendorId 'form__group--error'}}">
          <div class="form__label">ADG Vendor ID</div>
          {{input type='text' class='form__input' value=adgVendorId}}
          {{#if invalidVendorId}}
            <p class="form__hint form__hint--error">
              Please enter an ADG Vendor ID
            </p>
          {{/if}}
        </div>
      </div>
      {{#if createRequestSent}}
        <div class="form">
          <p class="form__hint">
            The request to create the managed product has been sent.
          </p>
          <p class="form__hint">
            You will be redirected to its detail page once its creation is complete.
          </p>
        </div>
      {{else}}
        <button class="button button__enable-commerce {{if (or invalidVendorId createRequestSent) 'button--disabled'}}"
                disabled={{or invalidVendorId createRequestSent}}
                {{action 'createNewProduct' adgVendorId}}>
          Enable
        </button>
      {{/if}}
    </div>
  </div>
</div>
