<header class="top-nav pos-fixed full-width top-0">
  <nav rol="navigation" class="flex flex--verticalCenter">
    {{#link-to "index" area-label="Twitch Developers" title="Twitch Developers" class="top-nav__logo flex flex--verticalCenter flex__item"}}
      {{svg-jar "twitch-logo"}}
      COMMERCE
    {{/link-to}}
    <div class="arrow-right flex__item"></div>
    <ul class="flex flex__item">
      <li class="top-nav__item">
        {{link-to "Products" "products"}}
      </li>
      <li class="top-nav__item">
        <a href="https://blog.twitch.tv/tagged/developers" id="blog-link">Blog</a>
      </li>
      <li class="top-nav__item">
        <a href="https://discuss.dev.twitch.tv/" id="forum-link">Forums</a>
      </li>
    </ul>
    <div class="top-nav-drawer__anchor flex flex__item">
      {{#if session.isAuthenticated}}
        <div role="button"
             class="top-nav__user-card {{if drawerToggled "toggled"}} flex flex--verticalCenter"
             {{action (mut drawerToggled) (not drawerToggled)}}>
          <figure class="top-nav__avatar">
            <img src="{{currentUser.user.logo}}" alt="User Logo">
          </figure>
          <div class="top-nav__user-info flex__item--grow">
            <h3 class="top-nav__username mg-0 pd-0 cl-white">{{currentUser.user.name}}</h3>
          </div>
        </div>
        <div class="top-nav-drawer {{if drawerToggled "toggled"}}">
          <ul>
            <li class="top-nav-drawer__item">
              <button title="Log Out" class="flex" {{action 'logout'}}>
                <span class="top-nav-drawer__label">Log Out</span>
              </button>
            </li>
          </ul>
        </div>
      {{/if}}
    </div>
  </nav>
</header>
