<div class="form__group inline-block">
  <div class="form__label">{{label}}</div>
  <div class="scroll-list">
    {{input type="text"
            class="scroll-list__item form__input"
            value=newItem
            placeholder=placeholder
            enter=(action 'appendToList')
    }}
    {{#each list as |item index|}}
      <div class="scroll-list__item">
        <div class="flex flex--nowrap flex--verticalCenter product-feature">
          <div class="flex__item">{{item}}</div>
          <button class="flex__item button button--text" onClick={{action 'removeFromList' index}}>
            Remove
          </button>
        </div>
      </div>
    {{/each}}
  </div>
</div>