<div class="form__group inline-block full-width {{if (v-get parentModel fieldName 'isInvalid') 'form__group--error'}}">
  <div class="form__label">{{label}}</div>
  {{#if number}}
    {{input type='number'
            class='form__input'
            value=(get parentModel fieldName)
            focus-out=(if focusOutAction focusOutAction)
            change=(action 'trimValue')}}
  {{else}}
    {{input type='text'
            class='form__input'
            value=(get parentModel fieldName)
            focus-out=(if focusOutAction focusOutAction)
            change=(action 'trimValue')}}
  {{/if}}
  {{#if (v-get parentModel fieldName 'isInvalid')}}
    <p class="form__hint form__hint--error">
      {{v-get parentModel fieldName 'message'}}
    </p>
  {{/if}}
</div>