.emote-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.emote-icon {
    display: flex;
    justify-content: center;
    padding: 2px;
}

.selected.emote-icon{
    color: #ffffff;
    background: #333333;
}