@import "~twitch-core-ui/variables";

body,
html,
.page-root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.root {
  height: 100vh;
  width: 100vw;
}

body {
  @include theme {
    background: token("color-background-body");
  }
}