.choose-bits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0px;
}

.bits {
    padding: 5px;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.bits.selected {
    background: #222222;
    color: #ffffff;
}

.bit-logo {
    height: 1rem;
}