---
---
$sidebar-width: 190px;

#page-nav {
    background-color:#fff;
    position: sticky;
    padding-top: 30px;
    height: 100vh;
    padding-bottom: 40px;
    top: 0;
}

div.sidebar {
    color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 19px;
    margin: 10px 0px 15px 15px;
    outline: 10px solid white;
    left: auto;
    min-width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 194px !important;
}

.sidebarheading {
    padding-left: 16px;
    color: #4b367c;
    display: inline;
    font-weight:bold;
    left: -4px;
}

div.sidebartoc {
    color: #f7f7f7;
    display: block;
    line-height: 19px;
    width: 194px;
    border-left: 4px solid #efeef1;
    padding: 5px 0px;
}

a.navlinks {
    cursor: pointer;
    color: #555;
    letter-spacing: normal;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: block;
    line-height: 19px;
    font-size:14px;
}

a.navlinks:hover {
    color: #7d5bbe;
    text-decoration: none;
}

a.navlinks.active {
  color: #7d5bbe;
  border-left: 4px solid #7d5bbe;
  position: relative;
  left: -4px;
  padding: 5px 16px 5px 20px;
}

div.sidebartoc li, div.sidebartoc ul {
    margin-top: 0px;
    margin-left: 0px;
    list-style: none;
    margin-bottom: 0px;
    padding: 0 0 0 0;
}

.topiclink {
    padding: 5px 20px;
    display: block;
}
div.highlighter-rouge {
    padding: 20px 0 20px 0;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    outline:none;
}
.btn:active {
    background-image: linear-gradient(#e8e8e8, #f3f3f3);
}

pre.highlight {
    position: relative;
    overflow: visible;
}

.highlight .btn {
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    padding: 2px 6px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.highlight:hover .btn,.highlight .btn:focus{opacity:1;}

.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
    border: 0;
    padding: 0;
    margin: 0;
}
.btn span {
    padding-left: 3px;
    font-size: 12px;
}

ol {
    ul {
        li {
            &:first-child {
                padding-top:12px;
            }
            &:last-child {
                padding-bottom:0px;
            }
        }
    }
} 
