---
---
$nav-width: 325px;
$nav-header-logo-height: 8rem;
$black:#373737;
$dark-grey:#4b4b4b;
$grey: #999;
$white: white;
$offwhite: #f5f5f5;
$search-result-border: 1px solid $grey;

$twitch-purple-1: #0e0c13;
$twitch-purple-2: #17141f;
$twitch-purple-3: #201c2b;
$twich-purple-4: #2c2541;
$twitch-purple-5: #392e5c;
$twitch-purple-6: #4b367c;
$twitch-purple-7: #6441a4;
$twitch-purple-8: #7d5bbe;
$twitch-purple-9: #9a7fcc;
$twitch-purple-10: #b19dd8;
$twitch-purple-11: #c5b6e2;
$twitch-purple-12: #d7cceb;
$twitch-purple-13: #e2dbf0;
$twitch-purple-14: #eee9f6;
$twitch-purple-15: #f9f8fc;
$hinted-grey-15: #faf9fa;
$hinted-grey-14: #efeef1;
$hinted-grey-2: #19171c;
$hinted-grey-4: #322f37;
$hinted-grey-7: #6e6779;


nav {
  width: $nav-width;
  background: $twich-purple-4;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  float: left;
  margin-right: 40px;
  display: block;
  height: 100%;
  border-right: 1px solid #e8e8e8;

  .nav-scroll {
    overflow-y: auto;
    width: 100%;
    padding-bottom: 50px;
    height: 100%;
  }

  #nav-header-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin: 10px 20px 0 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #e8e8e8;
  }

  #nav-header-logo {
    height: $nav-header-logo-height;
    margin-bottom: 1rem;
    border-color: transparent;
    box-shadow: 0 0;
  }

  #nav-header {
    display: flex;
    justify-content: center;
  }

  .heading-level-1 {
    color: $twitch-purple-7;
    margin: 10px 0 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border:none;
    background:none;
    outline: none;
    display: block;
    font-weight: 700;
  }

  hr {
    border-width: 1px;
    margin: 0 20px 0 20px;
    border: none;
    height: 1px;
    color: $white;
    background:$white;
    opacity: 0.1;
  }

  ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;

    li {
      padding-bottom: 0px;

      a {
        padding: 2px 20px;
        width: 100%;
        display: inline-block;
        color: $hinted-grey-4;
        font-size: 14px;
        font-weight:600;
        border-left: 3px solid #efeef1;
  
        &:hover {
          border-left: 3px solid $twitch-purple-12;
          text-decoration:none;
          color: $twitch-purple-7;
        }
      }
    }
  }

  .nav-header-caption {
    position: relative;
    top: -15px;
    font-size: 13px;
  }
}

/* Search styles */
#search {
  position: relative;
  margin: 20px 20px 5px 20px;
}
#search-input {
  width:100%;
  height: 32px;
  border: 1px solid #e8e8e8;
  background-image: url(../../images/magnifier.png);
  background-position: 3% 50%;
  background-repeat: no-repeat;
  padding-left: 32px;
  font-size: 16px;
  color: $black;
}
input#search-input::-ms-clear{display:none}

ul.search-results {
  background-color: $white;
  display:none;
  width:100%;
  opacity:1;
  position:absolute;
  top: 31px;
  left: 0;
  overflow:auto;
  z-index:1;
  font-family:'Open Sans',roboto,sans-serif;
  font-size:14px;
  color: $black;
  background-color: $white;
  max-height: calc(100vh - 130px);
  margin: 10px 0 20px 0;
  border: 1px solid #e8e8e8;
  padding: 0;

  li {
    a {
      color: $dark-grey;
      border: none;
      padding:8px 16px;
      
      &:hover {
        color:$twitch-purple-8;
        box-shadow:none;
        background-color: $twitch-purple-14;
        border: none;
      } 
    }

    &.selected a {
      background-color: $twitch-purple-14;
    }
  }

  .noresults {
    padding-left:20px;
    &:hover {
      background-color: $white;
    }
  }
}

#search-input::-webkit-search-cancel-button{
  position:relative;
  right:7px;    
}

.expanded {
  display: inline;
}
.collapsed {
  display: none;
}

ul.subfolder-items li {
  padding-left:20px;
}

#main_nav::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -50vw;
  content: "";
  background-color: #fbfbfb;
  z-index: -1;
}

ul.subfolder-items li.selected a {
  border-left: 3px solid $twitch-purple-8;
  font-weight: bold;
  &:hover {
    border-left: 3px solid $twitch-purple-8;
  }
}

.edit-page-link {
  display: flex;
  align-items: center;
  padding: 10px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: $twitch-purple-7;
  font-size: 12px;
  font-family: 'Open Sans';
   &:hover {
     color: $twitch-purple-8;
     background-color: $twitch-purple-14;
   }
}

.tw-svg__asset--inherit {
  fill: $twitch-purple-7;
  vertical-align:middle;
  display:inline-block;
  margin-right: 5px;
  &:hover {
    fill: $twitch-purple-8;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin-right: 10px;
    padding: 0;
  }
} 