body {
	font: 12px arial, sans-serif;
}
div {
	margin: 0px;
}

.pointer:hover {
	cursor: pointer;
	background-color: #ffffff;
}

.kraken-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.kraken-list li {
	padding: 5px 10px;
	border: 1px solid #cdcdcd;
	font-size: 24px;
	background: #dedede;
}

.kraken-list li.selected {
	background: #ffffff;
}

.kraken-list li + li {
	border-top: none;
}