body, html {
	font: 12px arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

#app {
	padding: 5px;
	background: rgba(0,0,0,0.8);
	color: rgba(150,250,50,1);
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
}

button {
	border-radius: 2px;
	background: white;
	border: none;
	padding: 3px 5px;
	margin: 2px;
	font-size: 12px;
}

button:hover {
	cursor: pointer;
}

.video_overlay {
	margin: 100px 150px 80px 150px;
}
