<configuration>
    <property>
        <name>hive.metastore.uris</name>
        <value>thrift://tahoe-metastore.di.twitch.a2z.com:9084</value>
        <description>Thrift uri for the remote metastore. Used by metastore client to connect to remote metastore.</description>
    </property>
    <property>
        <name>hive.mapred.supports.subdirectories</name>
        <value>true</value>
        <description>Whether the version of hadoop which is running supports sub-directories for tables/partitions.
        Many hive optimizations can be applied if the hadoop version supports sub-directories for
        tables/partitions. It was added by MAPREDUCE-1501
        </description>
    </property>
</configuration>