@keyframes throwBit {
	0% {
		top: 50%;
		left: -7%;
	}
	25% {
		top: 50%;
		left: 40%	
	}
	35% {
		left: 80%;
		top: 25%;
	}
	100% {
		left: 80%;
		top: 25%;
	}
}
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	font: 12px arial, sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 100px 0 80px 0;
	box-sizing: border-box;
}

div {
	margin: 0px;
}
#app {
	position: relative;
	height: 100%;
	width: 100%;
}

img {
	position:absolute;
}

.centeredRotation {
	transform-origin: 50% 50%;
}

.bitElement {
	z-index: 1;
	width:100%;
	height:100%;
	animation: infRotation 2s infinite linear;
}

.bitContainer {
	position: absolute;
	width:10%;
	height:10%;
}

.avatar-bit img {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
}

.avatar-bit {
	position: absolute;
	visibility: hidden;
	width: 3%;
	top: 50%;
	padding-left: 4%;
	left: -7%;
}

.avatar-bit-container {
	padding-top: 100%;
	position: relative;
}

#kraken {
	width: 25%;
	position:absolute;
	right: -25%;
	transition: right 2s linear 0s;
}

.user-avatar {
	width: 5%;
	left: -7%;
	top: 50%;
	transition: left 2s linear 0s;
}

.active #kraken {
	right: 0px;
}

.active .user-avatar {
	left: 40%;
}

.active .avatar-bit {
	animation: throwBit 8s linear;
	visibility: visible;
}

#kraken-container {
	padding-top: 100%;
}

#kraken-bg {
	width: 30%;
	height: 30%;
	left: 50%;
	top: 50%;
	margin: -15% 0 0 -15%;
	position:absolute;
	border-radius: 50%;
	border: 1px solid white;
}

#kraken-bg.foo {
	background: black;
}

#kraken-bg.bar {
	background: #6441a4;
}

#kraken-face {
	width: 16%;
	left: 50%;
	top: 50%;
	margin: -12% 0 0 -7%;
	position:absolute;
}