body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height:100vh;
}

.button {
  cursor: pointer;
}

.button--config {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 0;
  opacity: 0.8;
  text-align: center;
  z-index: 3;
}

.config {
  width: 100vw;
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.hidden {
  display: none;
}

.pixel-grid {
}

.pixel-grid--container {
  overflow: auto;
  z-index: 1;
}

.pixel {
  stroke-width: 0;
  stroke: none
}

.color-picker {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  font-weight: bold;
}

.color-picker__input {
}

.zoom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  background-color: white;
  color: #433f4a;
  box-shadow: inset 0 0 0 1px #dad8de;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1rem;
  outline: 0;
  padding: 0.5rem 0.5rem;
  position: relative;
  resize: both;
  transition: all 0.25s;
}